<h1>Lesson Agenda (Concept)</h1>
<% excludes = options[:excludes] %>

<table class="o-agenda">
  <thead>
    <tr class="u-txt--agenda-header">
      <td width="40%">BLOCK / ACTIVITY</td>
      <!-- <td>OBJECTIVE / DESCRIPTION</td>
      <td>ALIGNMENT</td> -->
      <td class="u-text--centered" width="35%">CCSS</td>
      <td class="u-text--centered">PRIORITY</td>
      <td class="u-text--right">TIME</td>
    </tr>
  </thead>
  <tbody>
    <% document.toc.children.each do |l1| %>
      <% l1_excluded = l1.excluded?(excludes) %>
      <tr class="<%= 'u-text--strikethrough' if l1_excluded %>">
        <td colspan="3" class="u-txt--agenda-l1-title u-gdoc-padding-bottom--base"><%= l1.title %></td>
        <td class="u-txt--agenda-l1-time u-text--right u-gdoc-padding-bottom--base"><%= l1_excluded ? l1.time : l1.time_with(excludes) %> mins</td>
      </tr>
      <% l1.children.each do |l2| %>
        <% l2_excluded = l2.excluded?(excludes) %>
        <tr class="u-txt--agenda-l2  <%= 'u-text--strikethrough' if l2_excluded %>">
          <td class="u-txt--agenda-l2-title"><%= l2.title %></td>
          <!-- <td>tbd</td>
          <td>tbd</td> -->
          <td class="u-text--centered"><%= l2.standard %></td>
          <td class="u-text--centered"><%= l2.priority unless l2.priority.to_i.zero? %></td>
          <td class="u-txt--agenda-l2-time u-text--right"><%= l2_excluded ? l2.time : l2.time_with(excludes) %> mins</td>
        </tr>
      <% end %>
    <% end %>
    <tr>
      <td colspan="3" class="u-txt--agenda-l1-title u-gdoc-padding-bottom--base u-border--none">Total Lesson Time</td>
      <td class="u-txt--agenda-l1-time u-text--right u-gdoc-padding-bottom--base u-border--none"><%= document.toc.total_time_with(excludes) %> mins</td>
    </tr>
  </tbody>
</table>

<br>
