<table class="c-gdoc-header cs-bg--<%= document.color_code_grade %>">
  <tr>
    <td class="u-txt--header-breadcrumb c-gdoc-header__wrap">
      <%= document.full_breadcrumb %>
    </td>
  </tr>
</table>

<div class="title u-txt--title"><%= document.title %></div>
<div class="u-txt--header-teaser">
  <%= raw document.teaser  %>
</div>
<div class="u-padding-top--large">
  <% if document.standards.present? %>
    <p><strong>Standards: </strong><%= document.standards %></p>
  <% end %>
  <% if document.math_practice.present? %>
    <p><strong>Mathematical Practice Standards: </strong><%= document.math_practice %></p>
  <% end %>
</div>

<div>
  <hr class="c-gdoc-header__hr"></hr>
</div>
