<div class=nc-content>
  <ul class='list-inline well'>
    <li><%= link_to t('.collection_types'), :admin_collection_types, class: 'btn btn-primary' %>
    <li><%= link_to t('.collections'), :admin_collections, class: 'btn btn-primary' %>
    <li><%= link_to t('.glossary'), :admin_google_doc_definitions, class: 'btn btn-primary' %>
    <li><%= link_to t('.google_docs'), :admin_google_docs, class: 'btn btn-primary' %>
    <li><%= link_to t('.pages'), :admin_pages, class: 'btn btn-primary' %>
    <li><%= link_to t('.resources'), :admin_resources, class: 'btn btn-primary' %>
    <li><%= link_to t('.staff_members'), :admin_staff_members, class: 'btn btn-primary' %>
    <li><%= link_to t('.users'), :admin_users, class: 'btn btn-primary' %>
  </div>
</div>
