<div class="o-page o-page--margin-to-bottom o-page--cg o-page--cg-<%= lesson_document.metadata['subject'] %>" data-scroll="cg-page" id="cg-page">
  <div class="o-page__module c-ch-hero">
    <div class="o-page__wrap--row">
      <div class="c-cg-hero__body cs-bg--<%= lesson_document.metadata['grade'] %>">
        <div class=c-cg-teaser><%= lesson_document.metadata['teaser'] %></div>
        <h1 class=c-cg-title><%= simple_format lesson_document.metadata['title'] %></h1>
      </div>
    </div>
  </div>
  <div class="o-page__module u-bg--light c-cg-content">
    <div class="o-page__wrap--row">
      <div class="c-cg-content__sidebar">
        <%#= lesson_document_nav(lesson_document) %>
      </div>
      <div id="c-ch-content" class="c-cg-content__body">
        <%= lesson_document.content.html_safe %>
      </div>
    </div>
  </div>
</div>
