<div id="cg-contents-modal" class="o-contents-modal o-page--cg-<%= lesson_document.subject.try(:downcase) %>" data-reveal>
  <div class="o-sidebar-xs cs-bg--<%= lesson_document.subject.try(:downcase) %>-base o-sidebar-xs--modal">
    <div class="o-sidebar-xs__header">
      <div class="u-txt--cg-sidebar-title-type u-text--uppercase">
        <%= lesson_document.short_breadcrumb %>
      </div>
      <div class="u-txt--cg-sidebar-title">
        <%= lesson_document.title %>
      </div>
    </div>
    <div class="o-sidebar-xs__action">
      <a data-close><i class="ub-ellipsis fa-3x"></i></a>
    </div>
  </div>
  <ul id="cg-menu-modal" class="o-sidebar-nav o-sidebar-nav--show o-sidebar-nav__menu o-contents-modal__content vertical menu" data-accordion-menu>
    <li class=o-sidebar-nav__header><span>Lesson Summary</span></li>
    <li><div class=o-sidebar-nav__sep></div></li>
    <% lesson_document.toc.children.each do |heading| %>
      <%= render('nav_item_modal', heading: heading) unless heading.anchor == '1-general' || heading.anchor == 'optbreak' %>
      <%= render('nav_opt_break') if heading.anchor == 'optbreak' %>
    <% end %>
  </ul>
</div>
