<% set_page_title @lesson_document.metadata['title'].to_s.html_safe %>

<style type="text/css">
  <%= raw(@lesson_document.css_styles) %>
</style>

<div class="o-page o-page--margin-to-bottom o-page--cg o-page--cg-<%= @lesson_document.subject %> c-ld--<%= @lesson_document.color_code_grade %>" data-scroll="cg-page" id="cg-page">
    <div class="o-page__module u-margin-bottom--gutter">
      <%if user_signed_in? %>
        <%= link_to [:admin, :lesson_documents], class: 'o-btn o-btn--base o-btn--xs-full' do %>
          <i class="fa-lg ub-arrow-left u-text--middled"></i> Go to Lessons Admin
        <% end %>
      <% end %>
      <%= link_to export_gdoc_lesson_document_path(@lesson_document), class: 'o-btn o-btn--base o-btn--xs-full', target: '_blank' do %>
        <i class="u-text--middled"></i> Export to Google Documents
      <% end %>
      <%= link_to export_docx_lesson_document_path(@lesson_document), class: 'o-btn o-btn--base o-btn--xs-full', data: {'no-turbolink' => true } do %>
          <i class="u-text--middled"></i> Export to Docx
      <% end %>
    </div>
  <%= render 'header', lesson_document: @lesson_document, curriculum: @curriculum, props: @props if @curriculum.present? %>
  <%= render 'content', lesson_document: @lesson_document %>
  <div class="c-footer__item u-txt--footer-links">
    <%= @lesson_document.metadata['cc-attribution'] %>
  </div>
</div>
<a href="#" class="o-top-scroll-button"><i class="ub-angle-down"></i></a>
