<%= javascript_include_tag 'initializers/lessons' %>

<% set_page_title @lesson_document.title.html_safe unless @lesson_document.title.blank? %>
<%# set_social_media_sharing @lesson_document %>

<%# if (permalink = @lesson_document.permalink).present? %>
  <%# set_canonical_url lesson_document_path(permalink, slug: @lesson_document.slug) %>
<%# end %>

<div class="o-page o-page--margin-to-bottom o-page--cg o-page--cg-<%= @lesson_document.subject %>" data-scroll="cg-page" id="cg-page">
  <div class="o-page__module c-ch-hero">
    <div class="o-page__wrap--row">
      <div class="c-cg-hero__body cs-bg--<%= @lesson_document.grade %>">
        <div class=c-cg-teaser><%= @lesson_document.teaser %></div>
        <h1 class=c-cg-title><%= simple_format @lesson_document.title %></h1>
      </div>
    </div>
  </div>
  <div class="o-page__module u-bg--light c-cg-content">
    <div class="o-page__wrap--row">
      <div class="c-cg-content__sidebar">
        <%#= lesson_document_nav(@lesson_document) %>
      </div>
      <div id="c-ch-content" class="c-cg-content__body">
        <%= @lesson_document.content.html_safe %>
      </div>
    </div>
  </div>
</div>
<a href="#" class="o-top-scroll-button"><i class="ub-angle-down"></i></a>
