<div class="ub-group">
  <label for="">1. <%= t('curriculum_page.search_form.subject_label') %></label>
  <div class="ub-radio curriculum-subject-selection">
    <% dropdown_options.subject_options.each do |opt| %>
      <div class="radio">
        <% subject_id = "subject_#{opt.value}" %>
        <%= radio_button_tag :subject, opt.value, opt.checked, id: subject_id %>
        <%= label_tag subject_id, opt.title %>
      </div>
    <% end %>
  </div>
</div>

<div class="ub-group">
  <label for="">2. <%= t('curriculum_page.search_form.grade_label') %></label>
  <div class="form-group curriculum-grade-selection">
    <% dropdown_options.grade_options.each_slice(2).each do |grade_group| %>
      <div class="col-md-6">
        <div class="ub-radio">
          <% grade_group.each do |opt| %>
            <div class="radio">
              <% grade_id = "grade_#{opt.value}" %>
              <%= radio_button_tag :grade_id, opt.value, opt.checked, data: { grade: opt.grade }, id: grade_id %>
              <%= label_tag grade_id, opt.title %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="ub-group">
  <label for="">3. <%= t('curriculum_page.search_form.standard_label') %></label>
  <div class="ub-select">
    <%= select_tag('standard_ids', options_for_select(dropdown_options.standard_options, dropdown_options.standard_ids), { class: 'curriculum-filter curriculum-filter-standard selectize form-control', include_blank: true, multiple: true, selected: dropdown_options.standard_ids }) %>
  </div>
</div>
