<div class=nc-content>
  <div class=pull-right>
    <%= link_to t('.new_page'), :new_admin_page, class: 'btn btn-success' %>
  </div>

  <h2 class=text-center><%= t('.page_title') %></h2>

  <table class=table>
    <tr>
      <th>ID
      <th><%= Page.human_attribute_name :title %>
      <th><%= t('ui.actions') %>
    </tr>

    <% @pages.each do |page| %>
      <tr id=page_<%= page.id %>>
        <td><%= page.id %>
        <td><%= page.title %>
        <td>
          <%= link_to t('ui.edit'), edit_admin_page_path(page), class: 'btn btn-default' %>
          <%= button_to t('ui.delete'), admin_page_path(page), class: 'btn btn-danger', data: { confirm: t('ui.are_you_sure') }, form_class: 'inline', method: :delete %>
      </tr>
    <% end %>
  </table>
</div>
