<%= simple_form_for :query, url: :admin_materials, html: { class: 'form-inline well o-admin-lessons-search', method: :get } do |f| %>

  <div class="row align-bottom align-justify">
    <%= f.input :search_term, label: 'Identifier', required: false,
                              placeholder: 'Enter Search Terms',
                              wrapper_html: { class: 'o-adm-material-search' } %>

    <%= f.input :type, placeholder: 'Type', required: false %>
    <%= f.input :sheet_type, placeholder: 'Sheet-Type', required: false %>
    <%= f.input :breadcrumb_level, placeholder: 'Breadcrumb Level', required: false %>
  </div>
  <div class="row align-bottom align-justify">
    <button class="button o-admin-search-subject float-right" type="button" data-toggle="material-subject">Select Subject</button>
    <div class="dropdown-pane bottom" id="material-subject" data-dropdown data-auto-focus="true">
      <%= f.input :subject, label: 'Subject',
                            required: false,
                            as: :select,
                            include_blank: true,
                            collection: %w(math ela),
                            label_method: :humanize %>
    </div>

    <button class="button o-admin-search-grades float-right" type="button" data-toggle="material-grade">Select Grade</button>
    <div class="dropdown-pane bottom" id="material-grade" data-dropdown data-auto-focus="true">
      <%= f.input :grade, label: 'Grades',
                          required: false,
                          as: :select,
                          include_blank: true,
                          collection: Grades::GRADES,
                          label_method: :humanize %>
    </div>

    <button class="button float-right" type="button" data-toggle="material-source">Source</button>
    <div class="dropdown-pane bottom" id="material-source" data-dropdown data-auto-focus="true">
      <%= f.input :source, label: 'Sources',
                           required: false,
                           as: :select,
                           include_blank: true,
                           collection: %w(gdoc pdf),
                           label_method: :upcase %>
    </div>

    <%= f.input :module, placeholder: 'Module Number', required: false %>
    <%= f.input :unit, label: 'Unit / Topic', placeholder: 'Number or Letter', required: false %>
    <%= f.input :lesson, label: 'Lesson Number', placeholder: 'Number or Letter', required: false %>

    <%= f.input :sort_by, label: false,
                          required: false,
                          as: :select,
                          collection: %w(identifier last_update),
                          include_blank: false,
                          label_method: ->(s){ "Order by #{s.titleize}" },
                          wrapper_html: { class: 'o-admin-sort-by' } %>

    <%= f.button :submit, t('ui.search'), class: 'o-admin-search-submit primary', name: nil %>
  </div>

<% end %>
