<% set_page_title 'Materials Manager' %>

<div class="o-page o-adm-list">

  <%= render 'import_results', results: @results if @results %>

  <h1 class="text-center"><%= t('.title') %></h1>

  <%= render 'search_form' %>

  <div class="row">
    <div class="flex-pull-left">
      <span class="c-multi-selected--select-all"><%= check_box_tag 'selected_all', 'true' %> Select All on this page</span>
    </div>
    <div class="flex-pull-right">
      <%= react_component 'MultiSelectedOperation', {
            text: t('.reimport_selected'),
            operation: 'reimport',
            path: reimport_selected_admin_materials_path(query: params[:query]),
            btn_style: 'primary' } %>
      <%= react_component 'MultiSelectedOperation', {
            text: t('.delete_selected'),
            operation: 'delete',
            path: delete_selected_admin_materials_path(query: params[:query]),
            btn_style: 'alert'} %>
      <%= link_to t('.new_material_pdf'), new_admin_material_path(source_type: 'pdf'), class: 'button primary' %>
      <%= link_to t('.new_material'), :new_admin_material, class: 'button primary' %>
    </div>
    <table class="materials-table table">
      <tr>
        <th>
        <th>ID
        <th>Identifier
        <th>Source Type
        <th>File Name
        <th>Type
        <th>Sheet Type
        <th>Breadcrumb Level
        <th>Subject
        <th>Lessons
        <th>Last Update
        <th>
      </tr>

      <% @materials.each do |material| %>
        <% material = MaterialPresenter.new material %>
        <tr id="material_<%= material.id %>">
          <td><%= check_box_tag 'selected_ids[]', material.id, selected_id?(material.id), class: 'c-selected-ids' %></td>
          <td><%= material.id %>
          <td class="u-text--right"><%= link_to material.metadata.identifier, material_path(material, request.query_parameters), target: '_blank' %>
          <td><%= material.source_type.upcase %>
          <td><%= link_to material.name, material.file_url, target: '_blank' %>
          <td><%= material.metadata['type'] %>
          <td><%= material.metadata['sheet_type'] %>
          <td><%= material.metadata['breadcrumb_level'] %>
          <td><%= material.metadata['subject'] %>
          <td>
            <ul class="materials-table__lessons">
              <% material.documents.each do |lesson| %>
                <% lesson = DocumentPresenter.new lesson %>
                <li class="u-text--small">
                  <a href="<%= lesson.file_url%>" target="_blank" class="materials-table__lessons--file"><i class="ub-icon ub-file-gdoc"></i></a>
                  <%= link_to lesson.title, lesson, target: '_blank' %>
                </li>
              <% end %>
            </ul>
          <td class="u-txt--small"><%= material.updated_at.to_s %>
          <td class="materials-table__btns">
            <%= render partial: 'admin/materials/reimport', locals: { material: material } %>
            <%= button_to t('ui.delete'), admin_material_path(material, query: params[:query]), class: 'button small alert', data: { confirm: t('ui.are_you_sure') }, form_class: 'inline', method: :delete %>
            <% unless material.pdf? %>
              <%= link_to material.pdf_preview_title, preview_pdf_material_path(material), class: 'button warning', target: '_blank' %>
              <%= link_to material.gdoc_preview_title, preview_gdoc_material_path(material), class: 'button warning', target: '_blank' %>
            <% end %>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="row">
    <div class="col-sm-12 text-center">
      <%= will_paginate @materials, renderer: BootstrapPagination::Rails %>
    </div>
  </div>

</div>
