<div class="o-page">
  <h2 class="text-center"><%= t('.page_title') %></h2>

  <%= simple_form_for @material_form, url: [:admin, :materials] do |f| %>
    <%= f.input :link, label: t('ui.url') %>
    <%= f.button :submit, t('.submit') %>
  <% end %>

  <%= render 'import_results', results: @results if @results&.any? %>
</div>
