<div class="search-form-page search-results-page" data-role="page">
  <div class="container">
    <div class="row">
      <div class="breadcrumbs-list">
        <ol class="breadcrumb">
          <% current_search.except(:query).each do |k,v| %>
            <li>
              <%= link_to(t("unbounded.title.#{k}") + " #{v}", unbounded_search_path(search_up_to(k))) %>
            </li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="search-content">
        <div class="row">
          <div class="search-content-wrapper">
            <div class="search-controls">
              <div class=search-form>
                <%= form_tag :unbounded_search, class: 'form-horizontal form-search', id: 'form-search', method: :get do %>

                <div class='curriculum-search-form form-horizontal'>
                  <div class="form-group">

                    <div class="ub-group">
                      <div class="ub-group-wrapper">
                        <label for=""><%= t('curriculum_page.search_form.subject_label') %></label>
                        <div class="ub-select">
                          <%= select_tag(:subject, options_for_select(@dropdown_options.subject_options, params[:subject]), { class: 'curriculum-filter curriculum-filter-subject selectize form-control', include_blank: true }) %>
                        </div>
                      </div>
                    </div>

                    <div class="ub-group">
                      <div class="ub-group-wrapper">
                        <label for=""><%= t('curriculum_page.search_form.grade_label') %></label>
                        <div class="ub-select">
                          <%= select_tag(:grade, options_for_select(@dropdown_options.grade_options, params[:grade]), { class: 'curriculum-filter curriculum-filter-grade selectize form-control', include_blank: true }) %>
                        </div>
                      </div>
                    </div>

                    <div class="ub-group">
                      <div class="ub-group-wrapper">
                        <label for=""><%= t('curriculum_page.search_form.standard_label') %></label>
                        <div class="ub-select">
                          <%= select_tag(:standards, options_for_select(@dropdown_options.standard_options, params[:standards]), { class: 'curriculum-filter curriculum-filter-standard selectize form-control', include_blank: true, multiple: true }) %>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label search-for-label" for="query">Search for</label>
                  <div class="search-group">
                    <div class="input-group">
                      <input type="search" class="form-control" name="query" placeholder="Search for..." value="<%= params[:query] %>">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                      </span>
                    </div>
                  </div>
                  <div>
                  </div>
                </div>
                <% end %>
              </div>
              <hr>
            </div>
            <div class="search-results-content">
              <div class="row">
                <div class="search-total"><%= @search.total_hits %> Results - Page <%= @search.page %></div>
                <div class="search-pagination">
                  <%= render partial: 'pagination' %>
                </div>
                <div class="search-results">
                  <% @search.results.each do |lobject| %>
                      <%= render partial: 'lobject_preview', locals: { lobject: lobject } %>
                  <% end %>
                </div>
                <div class="search-pagination">
                  <%= render partial: 'pagination' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
