<div class="search-results-page" data-role="page">
  <div class="container">
    <div class="row">
      <div class="search-controls">
        <div class=search-form>
          <%= form_tag :unbounded_search, class: 'form-horizontal curriculum-search-form', id: 'form-search', method: :get do %>
            <div class="form-group form-filters-group">
              <div class="ub-group">
                <label for="">1. <%= t('curriculum_page.search_form.subject_label') %></label>
                <div class="ub-radio curriculum-subject-selection">
                  <% @dropdown_options.subject_options.each do |opt| %>
                    <div class="radio">
                      <input type="radio" name="subject" value="<%= opt.value %>"
                        <% if params[:subject] == opt.value %> checked <% end %>
                        id="subject-<%= opt.value %>">
                      <label for="subject-<%= opt.value %>"><%= opt.title %></label>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="ub-group">
                <label for="">2. <%= t('curriculum_page.search_form.grade_label') %></label>
                <div class="form-group curriculum-grade-selection">
                  <% @dropdown_options.grade_options.each_slice(2).each do |grade_group| %>
                    <div class="col-md-6">
                      <div class="ub-radio">
                        <% grade_group.each do |opt| %>
                          <div class="radio">
                            <input type="radio" name="grade" data-grade="<%= opt.grade %>" value="<%= opt.value %>"
                              <% if params[:grade] == opt.value.to_s %> checked <% end %>
                              id="grade-<%= opt.value %>">
                            <label for="grade-<%= opt.value %>"><%= opt.title %></label>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="ub-group">
                <label for="">3. <%= t('curriculum_page.search_form.standard_label') %></label>
                <div class="ub-select">
                  <%= select_tag(:standards, options_for_select(@dropdown_options.standard_options, params[:standards]), { class: 'curriculum-filter curriculum-filter-standard selectize form-control', include_blank: true, multiple: true }) %>
                </div>
              </div>
            </div>
            <div class="form-group form-keyword-group">
              <label>4. <%= t('curriculum_page.search_form.text_label') %></label>
              <div>
                <input type="search" class="form-control" name="query" placeholder="Search for..." value="<%= params[:query] %>">
              </div>
            </div>
            <div class="form-group">
              <div>
                <button class="btn btn-default btn-block" type="submit"><%= t('ui.search') %></button>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="search-results-content">
        <div class="row">
          <div class="breadcrumbs-list">
            <ol class="breadcrumb">
              <% current_search.except(:query).each do |k,v| %>
                <li>
                  <%= link_to(t("unbounded.title.#{k}") + " #{v}", unbounded_search_path(search_up_to(k))) %>
                </li>
              <% end %>
            </ol>
            <hr class="tiny">
          </div>
          <div class="search-total">
            <%= @search.total_hits %> Results - Page <%= @search.page %>
            |
            <%= t('.show') %>
            <%= select_tag(:limit, options_for_select([[25, 25], [50, 50], [100, 100]], params[:limit])) %>
            <%= t('.per_page') %>
          </div>
          <div class="search-pagination">
            <%= render partial: 'pagination' %>
          </div>
          <div class="search-results">
            <% @search.results.each do |lobject| %>
                <%= render partial: 'lobject_preview', locals: { lobject: lobject } %>
            <% end %>
          </div>
          <div class="search-pagination search-pagination-bottom">
            <%= render partial: 'pagination' %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
