<div class="search-results-page" data-role="page">
  <div class="header-module">
    <div class="container">
      <div class="row">
        <%= form_tag :unbounded_search, class: 'form-horizontal curriculum-search-form', id: 'form-search', method: :get do %>

          <div class="search-controls">
            <div class=search-form>
              <div class="form-group form-filters-group">
                <%= render partial: 'unbounded/shared/search_options', locals: { dropdown_options: @dropdown_options } %>
              </div>
              <div class="form-group form-keyword-group searchForm__fts">
                <label class=searchForm__fts__label for=query>4. <%= t('curriculum_page.search_form.text_label') %></label>
                <div class=searchForm__fts__inputWrap>
                  <input type="search" class="form-control" id=query name="query" placeholder="<%= t('.search_for') %>" value="<%= params[:query] %>">
                </div>
              </div>
              <div class="form-group">
                <div>
                  <button class="btn btn-default btn-block" id=search type="submit"><%= t('ui.search') %></button>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="search-results-content">
        <div class="row">
          <div class="breadcrumbs-list">
            <ol class="breadcrumb">
              <% current_search.except(:query).each do |k,v| %>
                <li>
                  <%= link_to(t("unbounded.title.#{k}") + " #{v}", unbounded_search_path(search_up_to(k))) %>
                </li>
              <% end %>
            </ol>
            <hr class="tiny">
          </div>
          <div class="search-total">
            <%= @search.total_hits %> Results - Page <%= @search.page %>
            |
            <%= t('.show') %>
            <%= select_tag(:limit, options_for_select([[25, 25], [50, 50], [100, 100]], params[:limit])) %>
            <%= t('.per_page') %>
          </div>
          <div class="search-pagination">
            <%= render partial: 'pagination' %>
          </div>
          <div class="search-results">
            <% @search.results.each do |lobject| %>
                <%= render partial: 'lobject_preview', locals: { lobject: lobject } %>
            <% end %>
          </div>
          <div class="search-pagination search-pagination-bottom">
            <%= render partial: 'pagination' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
