<div class="search-results-page" data-role="page">
  <div class="container">
    <div class="row">
      <div class="breadcrumbs-list">
        <ol class="breadcrumb">
          <% current_search.except(:query).each do |k,v| %>
            <li>
              <%= link_to(t("unbounded.title.#{k}") + " #{v}", unbounded_search_path(search_up_to(k))) %>
            </li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="sidebar">
        <div class="row">
          <% @search.facets.each do |facet, values| %>
            <% next if values.size == 0 %>
            <div class="sidebar-block">
              <div class="sidebar-block-wrapper">
                  <h4><%= t("unbounded.title.#{facet}") %></h4>
                  <div class="sidebar-block-content">
                    <ul class="list-unstyled vertical-breath">
                      <% values.each do |value, doc_count| %>
                        <li>
                          <%= link_to(value, add_to_search(facet => value)) %> (<%= doc_count %>)
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="search-content">
        <div class="row">
          <div class="search-content-wrapper">
            <div class="search-controls">
              <form id="form-search" class="form-horizontal form-search" data-action="<%=unbounded_search_path %>" method="GET">
                <div class="form-group">
                  <label class="control-label" for="query">Search for</label>
                  <div class="search-group">
                    <div class="input-group">
                      <% current_search.each do |k,v| %>
                        <% unless k == 'query' %>
                          <input type="hidden" name="<%= k %>" value="<%= v %>">
                        <% end %>
                      <% end %>
                      <input type="search" class="form-control" name="query" placeholder="Search for..." value="<%= params[:query] %>">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                      </span>
                    </div>
                  </div>
                  <div>
                  </div>
                </div>
              </form>
              <hr>
            </div>
            <div class="search-results-content">
              <div class="row">
                <div class="search-total"><%= @search.total_hits %> Results - Page <%= @search.page %></div>
                <div class="search-results">
                  <% @search.results.each do |lobject| %>
                      <%= render partial: 'lobject_preview', locals: { lobject: lobject } %>
                  <% end %>
                </div>
                <div class="search-pagination">
                  <%= render partial: 'pagination' %>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
