<div class="cs-bg--<%= lesson_document.color_code_grade %> c-pdf-header__wrap u-br-top--base">
  <div class="o-page--pdf-ld c-pdf-header--ld">
    <%= lesson_document.pdf_header %>
  </div>
</div>

<div class="c-ld__header--pdf o-page--pdf-ld">
  <h1 class="u-pdf-txt--ld-h1"><%= lesson_document.title %></h1>
  <div class="u-txt--teaser o-social-sharing__teaser">
    <%= raw(lesson_document.teaser) %>
  </div>
  <div class="u-padding-top--large">
    <% if lesson_document.standards.present? %>
      <p><strong>Standards: </strong><%= lesson_document.standards %></p>
    <% end %>
    <% if lesson_document.math_practice.present? %>
      <p><strong>Mathematical Practice Standards: </strong><%= lesson_document.math_practice %></p>
    <% end %>
  </div>
</div>
