<div class="cs-bg--<%= document.color_code_grade %> c-pdf-header__wrap u-br-top--base">
  <div class="o-page--pdf-ld c-pdf-header--ld u-text--capitalized">
    <%= document.pdf_header %>
  </div>
</div>

<div class="c-ld__header--pdf o-page--pdf-ld">
  <h1 class="u-pdf-txt--ld-h1"><%= document.title %></h1>
  <div class="u-txt--teaser o-social-sharing__teaser">
    <%= raw(document.teaser) %>
  </div>
  <div class="u-padding-top--large">
    <% if document.standards.present? %>
      <p><strong>Standards: </strong><%= document.standards %></p>
    <% end %>
    <% if document.math_practice.present? %>
      <p><strong>Mathematical Practice Standards: </strong><%= document.math_practice %></p>
    <% end %>
  </div>
</div>
