<style type="text/css">
  <%= raw document.css_styles %>
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<%= render 'documents/pdf/header', document: document unless document.pdf_type == 'sm' %>
<div class="o-page--cg-<%= document.subject %>">
  <div class="c-ld__body o-page--pdf-ld c-ld__body--pdf c-ld__body--<%= "#{document.subject}-#{document.pdf_type}"%>" style="<%= document.padding_styles %>">
    <%= raw document.pdf_content(options) %>
    <div class="o-ld-license u-margin-top--xlarge">
      <%= document.ld_metadata.cc_attribution %>
    </div>
  </div>
</div>
