<% url = curriculum.new_record? ? :admin_curriculums : admin_curriculum_path(curriculum) %>
<% resource_picker_col = curriculum.new_record? ? [] : [curriculum.resource] %>

<div class="o-page__module">
  <%= simple_form_for curriculum, url: url do |f| %>
    <%= f.association :curriculum_type, as: :select %>
    <div>
      <%= resource_picker_field(f, resource_picker_col, path: :resource, name: 'curriculum[item_id]', allow_multiple: false, preserve_name: true) %>
    </div>
    <div>
      <label>Children</label>
      <button class="admcur-edt-child-btn button" type="button">Add child</button>
      <div class="admcur-edt-child-modal reveal"></div>
    </div>
    <ol id="cur-edit-items">
        <% curriculum.children.order(position: :asc).each do |child| %>
          <li>
            <span class="cur-edit-item-curtype"><%= child.curriculum_type.name %></span>
            <span class="cur-edit-item-title"><%= child.resource.title %></span>
            <span class="cur-edit-item-btn"><% if child.current_level != :lesson %> <%= link_to('Edit', edit_admin_curriculum_path(child.curriculum_item), class: 'small button') %> <% end %> <button type="button" class="small button remove">Remove</button></span>
            <input type="hidden" name="curriculum[child_ids][]" value="<%= child.item_id %>">
          </li>
        <% end %>
    </ol>
    <div><%= f.submit class: :button %></div>
  <% end %>
</div>
