<div id="admcur-idx">
  <div class="o-page">
    <h1 class="text-center">Edit curriculums</h1>
    <%= form_tag(:admin_curriculums, method: :get, class: 'c-admcur-filter', data: {turboform: ''}) do |f| %>
      <div class="row">
        <label for="type" class="medium-3 columns">Type
          <%= select_tag(:type,
                         options_for_select(param_constants[:curriculum_types].keys, @index_params[:type])) %>
        </label>

        <label for="subject" class="medium-3 columns">Subject
          <%= select_tag(:subject,
                         options_for_select([['ELA', 'ela'], ['Math', 'math']], @index_params[:subject])) %>
        </label>

        <label for="grade" class="medium-3 columns">Grade
          <%= select_tag(:grade,
                         options_for_select(param_constants[:grades].to_a.map(&:reverse), @index_params[:grade]), include_blank: true) %>
        </label>
      </div>
    <% end %>
  </div>
  <div class="o-page">
    <div class="o-page__module">
      <table class="c-admcur-results">
        <thead>
          <tr>
            <th>Curriculum Type</th>
            <th>Curriculum Resource</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @curriculums.each do |curriculum| %>
            <tr>
              <td><%= curriculum.current_level %></td>
              <td><%= curriculum.resource.title %></td>
              <td>
                <%= link_to('Edit curriculum', edit_admin_curriculum_path(curriculum), class: 'primary button') %>
                <%= link_to('View resource', show_resource_path(curriculum.resource), class: 'button') %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class=text-center>
        <%= will_paginate @resources, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
</div>
