<div class=nc-content>
  <h2 class=text-center><%= t('.page_title') %></h2>

  <%= form_tag :unbounded_admin_lobject_export do %>
    <h3>Choose the grades you'd like to export</h3>

    <% Content::Models::Grade.order(:name).each do |grade| %>
      <p>
        <%= check_box_tag 'grades[]', grade.id, false, id: "grade_#{grade.id}" %>
        <%= label_tag "grade_#{grade.id}", grade.grade %>
    <% end %>

    <p><%= submit_tag t('ui.export_resources'), class: 'btn btn-success' %>
  <% end %>
</div>
