<div class="module-title-nav">
  <div class="module-title-prev <%= 'disabled' unless prev_obj %>">
    <%= link_to sidebar_nav_link(curriculum, prev_obj) do %>
      <i class="fa fa-lg fa-angle-double-left"></i>
    <% end %>
  </div>
  <div class="module-title-title">
    <% mod_t = module_title(curriculum.current_module_node) %>
    <%= link_to mod_t, unbounded_resource_path(curriculum.current_module, curriculum), class: [module_title_class(mod_t), ('active' if curriculum.module?)] %>
  </div>
  <div class="module-title-next <%= 'disabled' unless next_obj %>">
    <%= link_to sidebar_nav_link(curriculum, next_obj) do %>
      <i class="fa fa-lg fa-angle-double-right"></i>
    <% end %>
  </div>
</div>
