<div class="grade">
  <div class="grade-title">
    <%= link_to lesson_title(curriculum.current_grade.title), grade_url(curriculum), class: ['module-title-grades'] %>
  </div>
</div>

<div class="module">
  <div class="module-wrapper">
    <div class="row">
      <div class="module-title">
        <% if curriculum.current_module_node %>
          <%= render partial: 'module_lr_nav', locals: {curriculum: curriculum, prev_obj: curriculum.previous_module, next_obj: curriculum.next_module} %>
          <div class="module-title-subtitle">
            <%= link_to module_subtitle(curriculum.current_module_node), unbounded_resource_path(curriculum.current_module, curriculum), class: ['r-subtitle', ('active' if curriculum.module?)] if curriculum.current_module_node.content.subtitle %>
          </div>
        <% end %>
      </div>

      <% if curriculum.module? || (curriculum.unit? && all_units_empty?(curriculum.current_module)) %>
        <%= render partial: 'module_nav', locals: { curriculum: curriculum } %>
      <% elsif curriculum.unit? || curriculum.lesson? %>
        <%= render partial: 'module_nav', locals: { curriculum: curriculum } %>
        <%= render partial: 'unit_nav', locals: { curriculum: curriculum } %>
      <% end %>
    </div>
  </div>
</div>

<%= render partial: 'unbounded/shared/resource_preview' %>
