<div class="module">
  <div class="module-wrapper">
    <div class="row">
      <div class="module-title">
        <%= link_to lesson_title(curriculum.current_grade.title), unbounded_resource_path(curriculum, curriculum.current_grade), class: ['module-title-grades', ('active' if curriculum.grade?)] %>
        <% if curriculum.current_module_node %>
          <%= link_to module_node_title(curriculum.current_module_node), unbounded_resource_path(curriculum, curriculum.current_module), class: ['module-title-module', ('active' if curriculum.module?)] %>
        <% end %>
      </div>

      <% if curriculum.grade? %>
        <%= render partial: 'grade_nav', locals: { curriculum: curriculum } %>
      <% elsif curriculum.module? %>
        <%= render partial: 'module_nav', locals: { curriculum: curriculum } %>
      <% elsif curriculum.lesson? || curriculum.unit? %>
        <%= render partial: 'unit_nav', locals: { curriculum: curriculum } %>
      <% end %>
    </div>
  </div>
</div>

<% unless curriculum.grade? %>
  <div class="module">
    <div class="module-wrapper lesson-nav">
      <div class="row">

        <div class='nav-module-up <%= 'disabled' unless curriculum.previous_module %>'>
          <%= link_to sidebar_nav_link(curriculum, curriculum.previous_module) do %>
            <div><i class='fa fa-3x fa-angle-up'></i></div>
            <div><%= t('.previous_module') %></div>
          <% end %>
        </div>

        <% if curriculum.unit? %>
          <%= render partial: 'sidebar_lr_nav', locals: { curriculum: curriculum, prev_obj: curriculum.previous_unit, next_obj: curriculum.next_unit, title: 'unit' } %>
        <% end %>

        <% if curriculum.lesson? %>
          <%= render partial: 'sidebar_lr_nav', locals: { curriculum: curriculum, prev_obj: curriculum.previous_lesson, next_obj: curriculum.next_lesson, title: 'lesson' } %>
        <% end %>

        <div class='nav-module-down <%= 'disabled' unless curriculum.next_module %>'>
          <%= link_to sidebar_nav_link(curriculum, curriculum.next_module) do %>
            <div><%= t('.next_module') %></div>
            <div><i class='fa fa-3x fa-angle-down'></i></div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
<% end %>
