<div class="row">
  <div class="lesson-img"></div>
  <div class="lesson-dsc">
    <h4><i class="fa fa-lg fa-caret-right"></i><%= resource_title.html_safe %></h4>
    <h2><%= lesson_title(lobject.title) %></h2>
    <div class="dsc">
      <%= lobject.description.html_safe %>
      <%= render partial: 'unbounded/shared/additional_lobjects', object: lobject.additional_lobjects %>
    </div>
  </div>
  <div class="lesson-resources">
    <div class="row">
      <div class="lesson-inst-resources">
        <% if (downloads = lobject.downloads.uniq).any? %>
          <h5><%= t('lesson_page.instructional_resources') %></h5>
          <ul class="media-list">
            <% downloads.each do |download| %>
              <li class="media">
                <div class="media-left media-middle">
                  <i class="fa fa-2x file-<%= file_icon(attachment_content_type(download)) %>"></i>
                </div>
                <div class="media-body">
                  <%= link_to(download.title, attachment_url(download), target: '_blank', class: 'resource-attachment') %>
                </div>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div class="lesson-dev-resources">
        <% if (related_lobjects = lobject.related_lobjects).any? %>
          <h5><%= t('lesson_page.related_resources') %></h5>
          <ul class="media-list">
            <% related_lobjects.each do |related_lobject| %>
              <li class="media">
                <div class="media-left media-middle">
                  <i class="fa fa-2x file-<%= resource_icon(related_lobject) %>"></i>
                </div>
                <div class="media-body lobject-related-resource">
                  <%= link_to(related_lobject.title, unbounded_resource_path(related_lobject)) %> (<%= related_resource_type(related_lobject) %>)
                </div>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
