<% if show_dsc %>
  <div class="resource-title">
    <h1 class="resource-title-title">
      <%= resource_title(lobject, curriculum) %>
    </h1>
    <h2 class="resource-title-subtitle">
      <%= resource_subtitle(lobject) %>
    </h2>
  </div>
<% end %>

<div class="lesson-dsc">
  <%= lobject.description.html_safe if lobject.description.present? %>
  <%= render partial: 'unbounded/shared/additional_lobjects', object: lobject.additional_lobjects %>
</div>
<div class="lesson-resources">
  <div class="row">
    <div class="lesson-inst-resources">
      <% downloads_by_category = lobject.downloads_by_category %>
      <% if downloads_by_category.keys.size > 0 %>
        <div>
          <h5><%= t('lesson_page.instructional_resources') %></h5>
          <ul class="media-list">
            <% downloads_by_category.delete(nil).each do |download| %>
              <%= render partial: 'download', locals: {download: download} %>
            <% end %>
          </ul>
        </div>
        <br>
        <% downloads_by_category.keys.each do |category| %>
          <h5><%= t("unbounded.download_categories.#{category}") %></h5>
          <ul class="media-list">
            <% downloads_by_category[category].each do |download| %>
              <%= render partial: 'download', locals: {download: download} %>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

