<% if show_dsc %>
  <div class="resource-title">
    <h1 class="resource-title-title">
      <%= resource_title(lobject, curriculum) %>
    </h1>
    <h2 class="resource-title-subtitle">
      <%= resource_subtitle(lobject) %>
    </h2>
  </div>
<% end %>

<div class="lesson-dsc">
  <%= lobject.description.html_safe if lobject.description.present? %>
  <%= render partial: 'unbounded/shared/additional_lobjects', object: lobject.additional_lobjects %>
</div>
<div class="lesson-resources">
  <div class="row">
    <div class="lesson-inst-resources">
      <% if (downloads = lobject.downloads.uniq).any? %>
        <h5><%= t('lesson_page.instructional_resources') %></h5>
        <ul class="media-list">
          <% downloads.each do |download| %>
            <li class="media">
              <div class="media-left media-middle">
                <i class="fa fa-2x file-<%= file_icon(attachment_content_type(download)) %>"></i>
              </div>
              <div class="media-body">
                <%= link_to(download.title, attachment_url(download), target: '_blank', class: 'resource-attachment') %>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>

