<div class='nav-lesson-left <%= 'disabled' unless prev_obj %>'>
  <div class=media>
    <%= link_to sidebar_nav_link(curriculum, prev_obj) do %>
      <div class='media-left media-middle'>
        <i class="fa fa-3x fa-angle-left"></i>
      </div>
      <div class='media-body text-left'><%= t('.previous_link', title: title.upcase) %></div>
    <% end %>
  </div>
</div>

<div class='nav-lesson-right <%= 'disabled' unless next_obj %>'>
  <div class=media>
    <%= link_to sidebar_nav_link(curriculum, next_obj) do %>
      <div class='media-body text-right'><%= t('.next_link', title: title.upcase) %></div>
      <div class='media-right media-middle'>
        <i class="fa fa-3x fa-angle-right"></i>
      </div>
    <% end %>
  </div>
</div>