<% set_page_title @lobject.title %>

<div class="lesson-page" data-role="page">
  <div class="container">
    <% if can? :read, :admin_root %>
      <div class="row">
        <div class=clearfix>
          <div class=pull-right>
            <%= link_to t('ui.edit'), edit_unbounded_admin_lobject_path(@lobject), class: 'btn btn-default', 'data-no-turbolink' => '' %>
            <%= button_to t('ui.delete'), unbounded_admin_lobject_path(@lobject), class: 'btn btn-danger', data: { confirm: t('ui.are_you_sure') }, form_class: 'inline', method: :delete %>
          </div>
        </div>
      </div>
      <br>
    <% end %>
    <div class="row">
      <% if curriculum = @lobject.unbounded_curriculum %>
        <div class="sidebar sidebar-<%= @lobject.curriculum_subject %> <%= @lobject.curriculum_subject %> left-sidebar hidden-xs ">
          <div class="row">
            <%= render partial: 'nav', locals: { curriculum: curriculum } %>
          </div>
        </div>
      <% end %>
      <div class="lesson-content lesson-content-<%= @lobject.curriculum_subject %> <%= @lobject.curriculum_subject %>">
        <div class="row">
          <div class="lesson-img"></div>
          <%= render partial: 'resource_content', locals: {lobject: @lobject, show_dsc: true, resource_title: resource_title(@lobject, curriculum)} %>
        </div>
        <% if curriculum.lesson? %>
          <div class="row unit-lesson-content">
            <div class="unit-dsc">
              <div class="row">
                <div class="unit-content-title">
                  <h4><%= lesson_unit_title(@lobject, curriculum).html_safe %></h4>
                  <!--span class="title"><%= lesson_unit_title(@lobject, curriculum).html_safe %></span>
                  <span class="subtitle"> &ndash; <%= lesson_title(@lobject.title) %></span-->
                </div>
                <div class="unit-content-control" data-toggle="collapse" data-target="#unit-content" aria-expanded="false">
                  <div class="pull-right">
                    <span class="hidden-xs show-ctrl"><%= t('ui.show_more').upcase %></span>
                    <span class="hidden-xs hide-ctrl"><%= t('ui.show_less').upcase %></span>
                    <i class="ub-icon-unit-content unit-content-icon"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="unit-materials collapse in" aria-expanded="true" id="unit-content">
              <%= render partial: 'resource_content', locals: {lobject: curriculum.current_unit, show_dsc: false} %>
            </div>
          </div>
        <% end %>
      </div>
      <% if curriculum = @lobject.unbounded_curriculum %>
        <div class="sidebar sidebar-<%= @lobject.curriculum_subject %> <%= @lobject.curriculum_subject %> visible-xs-block">
          <div class="row">
            <%= render partial: 'nav', locals: { curriculum: curriculum } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
