<% set_page_title @lobject.title %>

<div class="lesson-page" data-role="page">
  <div class="container">
    <% if can? :read, :admin_root %>
      <div class="row">
        <div class=clearfix>
          <div class=pull-right>
            <%= link_to t('ui.edit'), edit_unbounded_admin_lobject_path(@lobject), class: 'btn btn-default', 'data-no-turbolink' => '' %>
            <%= button_to t('ui.delete'), unbounded_admin_lobject_path(@lobject), class: 'btn btn-danger', data: { confirm: t('ui.are_you_sure') }, form_class: 'inline', method: :delete %>
          </div>
        </div>
      </div>
      <br>
    <% end %>
    <div class="row">
      <% if curriculum = @lobject.unbounded_curriculum %>
        <div class="sidebar sidebar-<%= @lobject.curriculum_subject %> <%= @lobject.curriculum_subject %> left-sidebar hidden-xs ">
          <div class="row">
            <%= render partial: 'nav', locals: { curriculum: curriculum } %>
          </div>
        </div>
      <% end %>
      <div class="resource-content">
        <div class="row">
          <div class="lesson-content lesson-content-<%= @lobject.curriculum_subject %> <%= @lobject.curriculum_subject %>">
            <%= render partial: 'resource_content', locals: {lobject: @lobject, resource_title: resource_title(@lobject.title, curriculum)} %>
          </div>
          <% if curriculum.lesson? %>
            <div class="unit-content unit-content-<%= @lobject.curriculum_subject %> <%= @lobject.curriculum_subject %>">
            <%= render partial: 'resource_content', locals: {lobject: curriculum.current_unit, resource_title: lesson_unit_title(@lobject.title, curriculum)} %>
            </div>
          <% end %>
        </div>
      </div>
      <% if curriculum = @lobject.unbounded_curriculum %>
        <div class="sidebar sidebar-<%= @lobject.curriculum_subject %> <%= @lobject.curriculum_subject %> visible-xs-block">
          <div class="row">
            <%= render partial: 'nav', locals: { curriculum: curriculum } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
