<%= simple_form_for :query, url: :admin_lesson_documents, html: { class: 'form-inline well o-admin-lessons-search', method: :get } do |f| %>

  <div class='row align-bottom align-justify'>
    <%= f.input :search_term, label: false, required: false,
                              placeholder: 'Enter Search Terms',
                              wrapper_html: { class: 'o-admin-search-term' } %>

    <button class="button o-admin-search-subject float-right" type="button" data-toggle="lesson-subject">Select Subject</button>
    <div class="dropdown-pane bottom" id="lesson-subject" data-dropdown data-auto-focus="true">
      <%= f.input :subject, label: 'Subject',
                            required: false,
                            as: :select,
                            include_blank: true,
                            collection: %w(math ela),
                            label_method: :humanize %>
    </div>


    <button class="button o-admin-search-grades float-right" type="button" data-toggle="lesson-grade">Select Grade</button>
    <div class="dropdown-pane bottom" id="lesson-grade" data-dropdown data-auto-focus="true">
      <%= f.input :grade, label: 'Grades',
                          required: false,
                          as: :select,
                          include_blank: true,
                          collection: GradeListHelper::GRADES,
                          label_method: :humanize %>
    </div>
    <%= f.input :inactive, label: 'Show inactive', required: false, as: :boolean %>

    <%= f.button :submit, t('ui.search'), class: 'o-admin-search-submit primary', name: nil %>
  </div>

<% end %>
