<%= simple_form_for @standard, as: :standard, url: admin_standard_path(@standard), html: { class: 'o-standard-form' } do |f| %>

  <div class="row o-admin-standard-readonly">
    <label>Name: </label>
    <span><%= @standard.name %></span>
  </div>

  <div class="row o-admin-standard-readonly">
    <label class="col-md-4">Synonyms: </label>
    <div class="col-md-8"><%= @standard.alt_names.join(' | ') %></div>
  </div>

  <%= f.input :description, as: :ckeditor, input_html: { rows: 5 } %>

  <% if f.object.language_progression_file.url %>
    <div class="o-standard-form-current-file">
      <%= f.label :current_image %>
      <img src="<%= f.object.language_progression_file.url %>" />
    </div>
    <label><%= f.check_box :remove_language_progression_file %> Remove file</label>
  <% end %>

  <%= f.input :language_progression_file, as: :file %>
  <%= f.input :language_progression_file_cache, as: :hidden %>

  <%= f.input :language_progression_note, as: :ckeditor, input_html: { rows: 2 } %>

  <%= f.button :submit, t('ui.save'), name: nil %>
<% end %>
