<% page_title = t('.page_title', name: @content_guide.name) %>

<% set_page_title page_title %>

<div class="o-page">
  <h2 class=text-center><%= page_title %></h2>

  <div>
    <ui class=accordion data-accordion>
      <% if (pars = @content_guide.paragraphs_with_invalid_icons).any? %>
        <li class='accordion-item is-active' data-accordion-item>
          <%= link_to '#', class: 'accordion-title' do %>
            <h3><%= t('.invalid_icons') %></h3>
          <% end %>

          <div class=accordion-content data-tab-content>
            <ol>
              <% pars.each do |par| %>
                <li><%= par.to_s.html_safe %>
              <% end %>
            </ol>
          </div>
      <% end %>

      <% if (urls = @content_guide.non_existent_videos).any? %>
        <li class='accordion-item is-active' data-accordion-item>
          <%= link_to '#', class: 'accordion-title' do %>
            <h3><%= t('.non_existent_videos_error') %></h3>
          <% end %>

          <div class=accordion-content data-tab-content>
            <ol>
              <% urls.each do |url| %>
                <li><%= link_to url, url %>
              <% end %>
            </ol>
          </div>
      <% end %>

      <% if (urls = @content_guide.non_existent_podcasts).any? %>
        <li class='accordion-item is-active' data-accordion-item>
          <%= link_to '#', class: 'accordion-title' do %>
            <h3><%= t('.non_existent_podcasts_error') %></h3>
          <% end %>

          <div class=accordion-content data-tab-content>
            <ol>
              <% urls.each do |url| %>
                <li><%= link_to url, url %>
              <% end %>
            </ol>
          </div>
      <% end %>
    </ul>
  </div>
</div>
