<div class="o-page">
  <h2 class=text-center><%= t('.page_title') %></h2>

  <table class=table>
    <tr>
      <th>ID
      <th><%= ContentGuide.human_attribute_name :name %>
      <th><%= ContentGuide.human_attribute_name :original_url %>
      <th><%= ContentGuide.human_attribute_name :updated_at %>
      <th>
    </tr>

    <% @content_guides.each do |content_guide| %>
      <tr>
        <td><%= content_guide.id %>
        <td><%= link_to content_guide.name, content_guide %>
        <td><%= link_to content_guide.original_url, content_guide.original_url, class: 'c-cg_list__url' %>
        <td class=text-nowrap><%= l content_guide.updated_at, format: :short %>
        <td class=text-nowrap>
          <%= link_to t('ui.reimport'), import_admin_content_guides_path(content_guide: { url: content_guide.original_url }), class: 'button', 'data-no-turbolink' => true %>
          <%= link_to t('ui.delete'), [:admin, content_guide], class: 'button alert', data: { confirm: t('ui.are_you_sure') }, method: :delete %>
      </tr>
    <% end %>
  </table>
</div>
