<div class="o-page">
  <h2 class=text-center><%= t('.page_title') %></h2>

  <table class=table>
    <tr>
      <th><%= ContentGuide.human_attribute_name :name %>
      <th><%= ContentGuide.human_attribute_name :title %>
      <th><%= ContentGuide.human_attribute_name :subject %>
      <th><%= ContentGuide.human_attribute_name :modified_by %>
      <th><%= ContentGuide.human_attribute_name :version %>
      <th>
    </tr>

    <% @content_guides.each do |content_guide| %>
      <tr>
        <td><%= link_to content_guide.name, content_guide %>
        <td><%= content_guide.title %>
        <td><%= t(content_guide.subject, scope: :subjects) if content_guide.subject %>
        <td><%= content_guide.modified_by %>
        <td><%= content_guide.version %>
        <td class=text-nowrap>
          <%= link_to t('ui.edit'), [:edit, :admin, content_guide], class: 'button' %>
          <%= link_to t('.original_document'), content_guide.original_url, class: 'button' %>
          <%= link_to t('ui.reimport'), import_admin_content_guides_path(content_guide: { url: content_guide.original_url }), class: 'button', 'data-no-turbolink' => true %>
      </tr>
    <% end %>
  </table>
</div>
