<% url = @lobject.new_record? ? :unbounded_admin_lobjects : unbounded_admin_lobject_path(@lobject) %>

<%= simple_nested_form_for @lobject, url: url, html: { id: 'lobject_form' } do |f| %>

  <%= f.simple_fields_for :lobject_titles do |lobject_titles_fields| %>
    <%= lobject_titles_fields.input :title %>
    <%= lobject_titles_fields.input :short_title %>
    <%= lobject_titles_fields.input :subtitle %>
  <% end %>

  <%= f.simple_fields_for :lobject_languages do |lobject_languages_fields| %>
    <%= lobject_languages_fields.input :language_id, as: :select, collection: language_collection_options, include_blank: false %>
  <% end %>

  <%= f.input :hidden %>

  <%= f.simple_fields_for :lobject_descriptions do |lobject_descriptions_fields| %>
    <%= lobject_descriptions_fields.input :description, as: :ckeditor, input_html: { rows: 10 } %>
  <% end %>

  <%= f.association :grades, as: :select, input_html: { class: 'selectize', id: 'grades_select', multiple: true } %>
  <p><%= link_to t('.create_grade'), '#', class: 'btn btn-success btn-sm create-tag', data: { name: 'grades' } %>

  <%= f.association :topics, as: :select, input_html: { class: 'selectize', id: 'topics_select', multiple: true } %>
  <p><%= link_to t('.create_topic'), '#', class: 'btn btn-success btn-sm create-tag', data: { name: 'topics' } %>

  <%= f.association :subjects, as: :select, input_html: { class: 'selectize', id: 'subjects_select', multiple: true } %>
  <p><%= link_to t('.create_subject'), '#', class: 'btn btn-success btn-sm create-tag', data: { name: 'subjects' } %>

  <%= f.association :resource_types, as: :select, input_html: { class: 'selectize', id: 'resource_types_select', multiple: true } %>
  <p><%= link_to t('.create_resource_type'), '#', class: 'btn btn-success btn-sm create-tag', data: { name: 'resource_types' } %>

  <%= f.association :alignments, as: :select, input_html: { class: 'selectize', id: 'alignments_select', multiple: true } %>
  <p><%= link_to t('.create_alignment'), '#', class: 'btn btn-success btn-sm create-tag', data: { name: 'alignments' } %>

  <%= f.association :related_lobjects, as: :select, collection: Content::Models::Lobject.includes(:lobject_titles), input_html: { class: 'selectize', multiple: true } %>

  <%= f.association :additional_lobjects, as: :select, collection: Content::Models::Lobject.includes(:lobject_titles), input_html: { class: 'selectize', multiple: true } %>

  <div class=form-group>
    <%= f.label :lobject_downloads %>
    <%= f.fields_for :lobject_downloads do |lobject_download_fields| %>
      <div class=well>
        <%= lobject_download_fields.simple_fields_for :download, lobject_download_fields.object.try(:download) || Content::Models::Download.new do |download_fields| %>
          <%= download_fields.input :title %>
          <%= download_fields.input :file, as: :file %>
          <%= download_fields.input_field :filename_cache, as: :hidden %>
        <% end %>
        <%= lobject_download_fields.association :download_category, as: :select, input_html: { class: 'selectize', id: 'download_categories_select' } %>
        <%= lobject_download_fields.link_to_remove t('ui.remove'), class: 'btn btn-danger btn-sm' %>
      </div>
    <% end %>
    <p><%= f.link_to_add t('.add_download'), :lobject_downloads, class: 'btn btn-success btn-sm' %></p>
  </div>

  <%= f.button :submit, t('ui.save'), name: nil %>

<% end %>

<%= render partial: 'modal', locals: { association: :alignments, title: t('.create_alignment') } %>

<%= render partial: 'modal', locals: { association: :grades, title: t('.create_grade') } %>

<%= render partial: 'modal', locals: { association: :resource_types, title: t('.create_resource_type') } %>

<%= render partial: 'modal', locals: { association: :subjects, title: t('.create_subject') } %>

<%= render partial: 'modal', locals: { association: :topics, title: t('.create_topic') } %>
