<div class=nc-content>
  <div class=clearfix>
    <div class=pull-right>
      <%= link_to t('.new_lobject'), :new_unbounded_admin_lobject, class: 'btn btn-success', 'data-no-turbolink' => '' %>
    </div>
  </div>

  <h2 class=text-center><%= t('.page_title') %></h2>

  <%= render 'search_form' %>

  <p class=text-right><%= page_entries_info @lobjects %>

  <%= form_tag :new_unbounded_admin_lobject_bulk_edits, method: :get do %>
    <table class=table>
      <tr>
        <th>
        <th>ID
        <th><%= t('.resource') %>
        <th><%= t('.grade_levels') %>
        <th><%= t('.standards') %>
        <th><%= t('.resource_types') %>
        <th><%= t('.subjects') %>
        <th><%= t('.status') %>
      </tr>

      <% @lobjects.each do |lobject| %>
        <tr>
          <td><%= check_box_tag 'ids[]', lobject.id, false, id: "ids_#{lobject.id}" %>
          <td><%= lobject.id %>
          <td><%= link_to lobject.title, unbounded_show_path(lobject) %>
          <td><%= lobject.grades.map(&:grade).select(&:present?).join(', ') %>
          <td><%= lobject.alignments.map(&:name).select(&:present?).join(', ') %>
          <td><%= lobject.resource_types.map(&:name).select(&:present?).join(', ') %>
          <td><%= lobject.subjects.map(&:name).select(&:present?).join(', ') %>
          <td><%= lobject_status(lobject) %>
        </tr>
      <% end %>
    </table>

    <%= submit_tag 'Edit Selected', class: 'btn btn-default', name: nil %>
  <% end %>

  <div class=row>
    <div class='col-sm-12 text-center'>
      <%= will_paginate @lobjects, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>
