<div class="o-ld-section">
  <h3 id="<%= @tmpl[:section].anchor %>" class='o-ld-title c-ld-toc u-margin-top--large'>
    <span class='o-ld-title__title o-ld-title__title--h3'><%= @tmpl[:section].title %></span>
    <span class='o-ld-title__time o-ld-title__time--h3'><%= @tmpl[:section].time.zero? ? '&mdash;' : "#{@tmpl[:section].time} mins" %></span>
  </h3>
  <% if @tmpl[:blockquote].present? %>
    <div class="o-ld-section__quote">
      <%= @tmpl[:blockquote].html_safe %>
    </div>
  <% end %>
  <%= @tmpl[:content].html_safe %>
</div>
