<div class="o-ld-group" data-id="<%= @tmpl[:group].anchor %>" data-tag="<%= @tmpl[:placeholder] %>">
  <hr class="o-ld-hr--l1">

  <h2 id="<%= @tmpl[:group].anchor %>" class="o-ld-title c-ld-toc">
    <div class="o-ld-title__title o-ld-title__title--h2"><%= @tmpl[:group].title %></div>
    <div class="o-ld-title__time o-ld-title__time--h2">
      <%= @tmpl[:group].time.zero? ? '&mdash;' : "#{@tmpl[:group].time} mins" %>
    </div>
  </h2>

  <%= @tmpl[:before_materials] %>

  <%= materials_container @tmpl[:react_props] if @tmpl[:with_materials] %>

  <%= @tmpl[:content] %>
</div>
