<div class="o-ld-pd o-ld-pd--collapsed">
  <div class="o-ld-pd__expander">
    <div class="o-ld-pd-caption">professional development</div>
    <div class="o-ld-pd-toggler"></div>
  </div>

  <div class="o-ld-pd__container">
    <% if @tmpl[:title].present? %>
      <p class="o-ld-pd__title"><%= @tmpl[:title] %></p>
    <% end %>

    <% if @tmpl[:type] == DocTemplate::Tags::PdTag::TYPE_CG %>
      <div class="o-ld-cg cs-bg--<%= @tmpl[:color] %>">
        <div class="o-ld-cg__thumbnail">
        </div>
        <div class="o-ld-cg__body">
          <% %>
          <p class="o-ld-cg__header">UnboundEd <%= @tmpl[:content_guide].subject == 'math' ? 'Math' : 'ELA' %> Guide</p>
          <p class="o-ld-cg__title"><%= @tmpl[:title] %></p>
          <p>
            <a class="o-ub-btn o-ub-ld-btn o-ub-ld-btn--<%= @tmpl[:content_guide].subject %>"
               data-no-turbolink="true"
               href="<%= @tmpl[:url] %>"
               target="_blank">
              View Full Guide
            </a>
          </p>
        </div>
      </div>
    <% elsif @tmpl[:type] == DocTemplate::Tags::PdTag::TYPE_PDF %>
      <div class="o-ld-pd-pdf">
        <div class="o-ld-pd-pdf__wrapper">
          <div class="o-ld-pd-pdf__object" data-url="<%= @tmpl[:url] %>">
        </div>
        <div class="o-ld-pd-pdf__overlay o-ld-pd-pdf__overlay-bg"></div>
        <div class="o-ld-pd-pdf__overlay o-ld-pd-pdf__overlay-icon"></div>
      </div>
      </div>
    <% elsif @tmpl[:type] == DocTemplate::Tags::PdTag::TYPE_PODCAST %>
      <div class="o-ld-pd__audio">
        <div class="c-cg-media" data-start="<%= @tmpl[:start] %>" data-stop="<%= @tmpl[:stop] %>">
          <div class="c-cg-media__podcast" id="sc_container_<%= SecureRandom.hex(4) %>">
            <%= @tmpl[:content] %>
          </div>
        </div>
        <div class="o-ld-pd__audio-placeholder"></div>
      </div>
    <% elsif @tmpl[:type] == DocTemplate::Tags::PdTag::TYPE_YOUTUBE %>
      <div class="o-ld-pd__video">
        <div class="c-cg-video">
          <div class="o-media-video">
            <iframe allowfullscreen frameborder="0" height="315" src="<%= @tmpl[:url] %>"></iframe>
          </div>
        </div>
        <div class="o-ld-pd__video-placeholder"></div>
      </div>
    <% end %>

    <% if @tmpl[:description].present? %>
      <div class="o-ld-pd__description o-ld-pd__description--hidden">
        <h4>Description</h4>
        <p><%= @tmpl[:description] %></p>
      </div>
    <% end %>
  </div>

  <div class="o-ld-pd__minimizer">
    <p>Minimize</p>
  </div>
</div>
