<div class="o-ld-section-wrapper" data-id="<%= @tmpl[:section].anchor %>" data-tag="<%= @tmpl[:placeholder] %>">
  <hr class="o-ld-hr--l2">

  <div id="<%= @tmpl[:section].anchor %>" class="o-ld-section">
    <h3 class="o-ld-title c-ld-toc">
      <div class="o-ld-title__title o-ld-title__title--h3">
        <% if (icon = @tmpl[:section].icon).present? %>
          <span class="o-m-icon o-m-icon--<%= icon %>"></span>
        <% end %>
        <%= @tmpl[:section].title %>
      </div>
      <div class="o-ld-title__time o-ld-title__time--h3"><%= @tmpl[:section].time.zero? ? '&mdash;' : "#{@tmpl[:section].time} mins" %></div>
    </h3>

    <% if (metacog = @tmpl[:section].metacognition&.content) %>
      <div class="o-ld-activity__metacognition hide">
        <%= metacog %>
      </div>
    <% end %>

    <%= @tmpl[:content] %>
  </div>

  <%= materials_container @tmpl[:react_props] %>
</div>
