<div class="o-page">
  <div class="o-page__content">
    <h1 class="text-center">Forgot your password?</h1>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="row">
        <div class="small-3 small-offset-2 columns">
          <%= f.label :email, class: 'text-right middle' %>
        </div>
        <div class="small-3 columns">
          <%= f.email_field :email, autofocus: true %>
        </div>
      </div>

      <div class="row align-center">
        <%= f.submit "Send me reset password instructions", class: 'button' %>
      </div>
    <% end %>

    <div class="row align-center">
      <%= render "devise/shared/links" %>
    </div>

  </div>

</div>
