<div class="o-dsc__cards">
  <div class="o-card--connect">
    <div class="u-wrap--base">
      <h2>Sign up for Lorem Ipsum</h2>
      <div class="o-card__dsc u-margin-bottom--small">
        Em adiciusam doluptur? ItaNum qui a cullore mos-sitat od ex exeris abore nonet ut listrunt aut velesti.
      </div>
      <form>
        <div class="input-group">
          <input class="input-group-field" type="text" placeholder="Enter Email">
          <div class="input-group-button">
            <input type="submit" class="button" value="<%= t('ui.go') %>">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="o-card--connect">
    <div class="u-wrap--base">
      <h2>Connect with Us</h2>
      <div class="o-card__dsc">
        Em adiciusam doluptur? ItaNum qui a cullore mos-sitat od ex exeris abore nonet ut listrunt aut velesti.
      </div>
      <ul class="menu expanded">
        <li>
          <%= link_to '#' do %>
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          <% end %>
        </li>
        <li>
          <%= link_to '#' do %>
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          <% end %>
        </li>
        <li>
          <%= link_to '#' do %>
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-vimeo fa-stack-1x fa-inverse"></i>
            </span>
          <% end %>
        </li>
        <li>
          <%= link_to '#' do %>
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
            </span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="o-card--connect">
    <div class="u-wrap--base">
      <h2>Attend the Standards Institute</h2>
      <div class="o-card__dsc u-margin-bottom--small">
        Em adiciusam doluptur? ItaNum qui a cullore mos-sitat od ex exeris abore nonet ut listrunt aut velesti.
      </div>
      <div class="o-card__button">
        <%= link_to t('ui.register'), '#', class: 'o-btn--dark' %>
      </div>
    </div>
  </div>
</div>
