<div class="u-bg--primary">
  <div class="o-page__wrap--row-column align-spaced">
    <div class="o-connect">
      <h2>Follow us</h2>
      <div class="o-connect__dsc u-margin-bottom--small">
        Keep up with the latest from Unbounded via:
      </div>
      <ul class="o-connect__list">
        <li>
          <%= link_to '#' do %>
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          <% end %>
        </li>
        <li>
          <%= link_to '#' do %>
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          <% end %>
        </li>
        <li>
          <%= link_to '#' do %>
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-vimeo fa-stack-1x fa-inverse"></i>
            </span>
          <% end %>
        </li>
        <li>
          <%= link_to '#' do %>
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
            </span>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="o-connect">
      <h2>Need help?</h2>
      <div class="o-connect__dsc u-margin-bottom--small">
        Find answers to commonly asked questions and contact our team.
      </div>
      <div class="o-connect__button">
        <%= link_to t('ui.view_topics'), '#', class: 'o-ub-btn o-ub-btn o-ub-btn--connect' %>
      </div>
    </div>
    <div class="o-connect">
      <h2>Attend the Standards Institute</h2>
      <div class="o-connect__dsc u-margin-bottom--small">
        An immersive, engaging professional development conference for teachers in math, ELA, and school and district leadership.
      </div>
      <div class="o-connect__button">
        <%= link_to t('ui.register'), 'http://www.standardsinstitutes.org/institute/summer-2016-standards-institute', class: 'o-ub-btn o-ub-btn--connect' %>
      </div>
    </div>
  </div>
</div>
