<div class="u-bg--primary">
  <div class="o-page">
    <div class="o-connect">
      <h2>Follow us</h2>
      <div class="o-connect__dsc u-margin-bottom--small">
        Keep up with the latest from Unbounded via:
      </div>
      <!-- Go to www.addthis.com/dashboard to customize your tools -->
      <ul class="o-connect__list addthis_toolbox">
        <li>
          <a class="addthis_button_twitter_follow" addthis:userid="<%= ENV['TWITTER_USERNAME'] %>">
            <i class="ub-twitter"></i>
          </a>
        </li>
        <li>
          <a class="addthis_button_facebook_follow" addthis:userid="<%= ENV['FB_PAGE'] %>">
            <i class="ub-facebook"></i>
          </a>
        </li>
        <li>
          <a class="addthis_button_vimeo_follow" addthis:userid="<%= ENV['VIMEO_CHANNEL'] %>">
            <i class="ub-vimeo"></i>
          </a>
        </li>
        <li>
          <a class="addthis_button_youtube_follow" addthis:userid="<%= ENV['YOUTUBE_CHANNEL'] %>">
            <i class="ub-youtube"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="o-connect">
      <h2>Need help?</h2>
      <div class="o-connect__dsc u-margin-bottom--small">
        Find answers to commonly asked questions and contact our team.
      </div>
      <div class="o-connect__button">
        <%= react_component('FreshdeskBtn', {text: t('ui.contact_us'), cls: 'o-ub-btn o-ub-btn o-ub-btn--connect'}) %>
      </div>
    </div>
    <div class="o-connect">
      <h2>Attend the Standards Institute</h2>
      <div class="o-connect__dsc u-margin-bottom--small">
        An immersive, engaging five-day professional development experience tailored to leaders and teachers of ELA and math.
      </div>
      <div class="o-connect__button">
        <%= link_to t('ui.register'), 'http://www.standardsinstitutes.org/institute/summer-2016-standards-institute', class: 'o-ub-btn o-ub-btn--connect', target: '_blank' %>
      </div>
    </div>
  </div>
</div>
