<footer class="c-footer">
	<div class="c-footer__wrap c-navbar">
    <div class="c-footer__item u-text--small">
    	<%= link_to root_path, class: 'c-navbar__link' do %>
    		<strong><%= t('title.logo') %></strong>
    	<% end %>
    </div>
	  <div class="c-footer__item">
	  	<ul class="c-footer__list u-text--small">
		  	<li><%= link_to t('nav.curriculum'), root_path, class: 'c-navbar__link' %></li>
		  	<li><%= link_to t('nav.lessons'), root_path, class: 'c-navbar__link' %></li>
        <li><%= link_to t('nav.instructions'), root_path, class: 'c-navbar__link' %></li>
        <li><%= link_to t('nav.about'), about_path, class: 'c-navbar__link' %></li>
        <li><%= link_to t('footer.contact'), root_path, class: 'c-navbar__link' %></li>
        <li><%= link_to t('footer.privacy'), root_path, class: 'c-navbar__link' %></li>
		  	<li><%= link_to t('footer.terms'), :tos_page, class: 'c-navbar__link' %></li>
		  </ul>
	  </div>
	  <div class="c-footer__item c-footer__item--full">
      <ul class="c-footer__list c-footer__list--right">
		  	<li>
          <%= link_to '#', class: 'c-navbar__link' do %>
            <i class="fa fa-twitter"></i>
          <% end %>
        </li>
		  	<li>
          <%= link_to '#', class: 'c-navbar__link' do %>
            <i class="fa fa-facebook"></i>
          <% end %>
        </li>
        <li>
          <%= link_to '#', class: 'c-navbar__link' do %>
            <i class="fa fa-vimeo"></i>
          <% end %>
        </li>
        <li>
          <%= link_to '#', class: 'c-navbar__link' do %>
            <i class="fa fa-youtube"></i>
          <% end %>
        </li>
		  </ul>
    </div>
	</div>
</footer>
