<footer class="c-footer">
	<div class="c-footer__wrap c-navbar">
    <div class="c-footer__logo">
    	<%= link_to root_path do %>
        <%= image_tag('logo.svg') %>
    	<% end %>
    </div>
	  <div class="c-footer__item">
	  	<ul class="c-footer__list u-text--small">
		  	<li><%= link_to t('nav.curriculum'), root_path, class: 'c-footer__link' %></li>
        <li class="t-bullet"></li>
		  	<li><%= link_to t('nav.lessons'), find_lessons_path, class: 'c-footer__link' %></li>
        <li class="t-bullet"></li>
        <li><%= link_to t('nav.instructions'), root_path, class: 'c-footer__link' %></li>
        <li class="t-bullet"></li>
        <li><%= link_to t('nav.about'), about_path, class: 'c-footer__link' %></li>
        <li class="t-bullet"></li>
        <li><%= link_to t('footer.contact'), root_path, class: 'c-footer__link' %></li>
        <li class="t-bullet"></li>
        <li><%= link_to t('footer.privacy'), root_path, class: 'c-footer__link' %></li>
        <li class="t-bullet"></li>
		  	<li><%= link_to t('footer.terms'), :tos_page, class: 'c-footer__link' %></li>
		  </ul>
	  </div>
	  <div class="c-footer__item u-text--small c-footer__item--full">
      <div>Site by Constructive & Learning Tapestry</div>
    </div>
	</div>
</footer>
