<header class="container">
  <div class="row">
    <nav class="navbar navbar-inverse">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to root_path, class: 'navbar-brand' do %>
          <span><%= t('title.logo') %></span>
        <% end %>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <%= nav_link t('nav.curriculum'), curriculum_path %>
          <%= nav_link t('nav.lessons'), curriculum_path %>
          <%= nav_link t('nav.instructions'), curriculum_path %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t('nav.about') %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <%= nav_link t('nav.about_dropdown.mission'), about_path %>
              <%= nav_link t('nav.about_dropdown.institute'), about_path %>
              <%= nav_link t('nav.about_dropdown.people'), about_path %>
              <%= nav_link t('nav.about_dropdown.careers'), about_path %>
              <%= nav_link t('nav.about_dropdown.contact'), about_path %>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><i class="fa fa-search"></i></a></li>
          <li><a href="#"><i class="fa fa-share-alt"></i></a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
