<header class="c-header">
  <div class="o-page">
    <div class="o-top-bar">
      <div class="o-top-bar__item c-header-title">
        <%= link_to root_path, class: 'c-header-title__logo c-header__link' do %>
          <%= image_tag('logo.svg') %>
        <% end %>
        <span class="c-header-title__h-menu" data-responsive-toggle="navbar" data-hide-for="large">
          <span class="c-header-title__h-icon c-header__link" data-toggle>
            <i class="fa-2x ub-menu" aria-hidden="true"></i>
          </span>
        </span>
      </div>
      <div class="o-top-bar__wrapper" id="navbar">
        <div class="o-top-bar__item">
          <ul class="menu c-header__menu">
            <li class="hide-for-large">
              <%= render partial: 'shared/search_form' %>
            </li>
            <%= nav_link t('nav.curriculum_html'), explore_curriculum_index_path, class: "c-header__link #{add_class_for_action(:resources, :show, 'active')}" %>
            <%= nav_link t('nav.lessons_html'), find_lessons_path, class: "c-header__link" %>
            <%= nav_link t('nav.instructions_html'), enhance_instruction_index_path, class: "c-header__link #{add_class_for_action(:resources, :media, 'active')} #{add_class_for_action(:content_guides, :show, 'active')}" %>
            <%= nav_link t('nav.leadership_html'), leadership_path, class: "c-header__link" %>
            <%= nav_link t('nav.about_html'), about_path, class: "c-header__link #{add_class_for_path(about_people_path, 'active')}" %>
            <%= nav_link t('nav.read_the_blog_html'), ENV['UB_WP_BLOG'], class: "c-header__link" if ENV['UB_WP_BLOG'].present? %>
          </ul>
        </div>
        <div class="o-top-bar__item">
          <ul class="menu c-header__left-menu">
            <li class="c-header__link show-for-large">
              <%= link_to search_path do %>
                <i class="fa-2x ub-search"></i>
              <% end %>
            </li>
            <li class="c-header__link c-header__link--light">
              <a data-no-turbolink="true" class="show-for-large"><i class="fa-2x ub-share"></i></a>
              <%= render partial: 'shared/social_sharing_menu' %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
