<header class="c-header">
  <nav class="c-header__top-bar c-navbar">
    <div class="top-bar-title">
      <%= link_to root_path, class: 'menu-text c-header__logo c-navbar__link' do %>
        <span><%= t('title.logo') %></span>
      <% end %>
      <span class="c-header__h-menu" data-responsive-toggle="navbar" data-hide-for="medium">
        <span class="menu-icon dark" data-toggle></span>
      </span>
    </div>
    <div id="navbar">
      <div class="top-bar-left">
        <ul class="dropdown menu vertical medium-horizontal" data-dropdown-menu>
          <%= nav_link t('nav.curriculum'), root_path, class: 'c-navbar__link' %>
          <%= nav_link t('nav.lessons'), find_lessons_path, class: 'c-navbar__link' %>
          <%= nav_link t('nav.instructions'), root_path, class: 'c-navbar__link' %>
          <li class="dropdown menu">
            <%= link_to t('nav.about'), about_path, class: 'c-navbar__link' %>
            <ul class="menu vertical">
              <%= nav_link t('nav.about_dropdown.mission'), about_path, class: 'c-navbar__link' %>
              <%= nav_link t('nav.about_dropdown.institute'), about_path, class: 'c-navbar__link' %>
              <%= nav_link t('nav.about_dropdown.people'), about_path, class: 'c-navbar__link' %>
              <%= nav_link t('nav.about_dropdown.careers'), about_path, class: 'c-navbar__link' %>
              <%= nav_link t('nav.about_dropdown.contact'), about_path, class: 'c-navbar__link' %>
            </ul>
          </li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li>
            <%= link_to '#', class: 'c-navbar__link' do %>
              <i class="fa fa-search"></i>
            <% end %>
          </li>
          <li>
            <%= link_to '#', class: 'c-navbar__link' do %>
              <i class="fa fa-share-alt"></i>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
