<nav class="navbar navbar-default">
  <div class="container">
    <div class="row">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to unbounded_path, class: 'navbar-brand' do %>
          <%= image_tag 'logo.svg', :alt => t('unbounded.title.logo') %>
        <% end %>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <%= nav_link t('nav.curriculum'), unbounded_search_path %>
          <%= nav_link t('nav.professional_development'), unbounded_search_path %>
          <%= nav_link t('nav.about'), unbounded_search_path %>
          <%= nav_link t('nav.news'), unbounded_search_path %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-lg fa-search"></i></a>
            <ul class="dropdown-menu">
              <li>
                <form action="<%= unbounded_search_path %>" class="navbar-form" role="search">
                  <div class="form-group">
                     <div class="input-group">
                        <input name="query" type="search" class="form-control" placeholder="Search">
                        <span class="input-group-btn">
                          <button class="btn btn-default btn-search" type="submit"><i class="fa fa-search"></i></button>
                        </span>
                     </div>
                  </div>
                </form>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>