<ul class="menu c-header__submenu addthis_toolbox" addthis:title="<%= social_media.default.title %>" addthis:description="<%= social_media.default.description %>" addthis:url="<%= request.original_url %>" data-no-turbolink>
  <li class="c-header__submenu-link">
    <a class="addthis_button_twitter" rel="nofollow" data-no-turbolink="true" addthis:media="<%= social_media.twitter.image %>">
      <span class="fa-stack">
        <i class="fa fa-circle fa-stack-2x fa-header-bg"></i>
        <i class="fa-2x ub-twitter fa-stack-1x"></i>
      </span>
    </a>
  </li>
  <li class="c-header__submenu-link">
    <a class="addthis_button_facebook" rel="nofollow" data-no-turbolink="true" addthis:title="<%= social_media.facebook.title %>" addthis:description="<%= social_media.facebook.description %>" addthis:media="<%= social_media.facebook.image %>">
      <span class="fa-stack">
        <i class="fa fa-circle fa-stack-2x fa-header-bg"></i>
        <i class="fa-2x ub-facebook fa-stack-1x"></i>
      </span>
    </a>
  </li>
  <li class="c-header__submenu-link">
    <a class="addthis_button_pinterest_share" rel="nofollow" data-no-turbolink="true"  addthis:title="<%= social_media.pinterest.title %>" addthis:description="<%= social_media.pinterest.description %>" addthis:media="<%= social_media.pinterest.image %>">
      <span class="fa-stack">
        <i class="fa fa-circle fa-stack-2x fa-header-bg"></i>
        <i class="fa-2x ub-pinterest fa-stack-1x"></i>
      </span>
    </a>
  </li>
  <li class="c-header__submenu-link">
    <a class="addthis_button_email" rel="nofollow" data-no-turbolink="true">
      <span class="fa-stack">
        <i class="fa fa-circle fa-stack-2x fa-header-bg"></i>
        <i class="fa-2x ub-arrow-share fa-stack-1x"></i>
      </span>
    </a>
  </li>
</ul>
