<ul class="o-social-sharing <%= cl %> addthis_toolbox" addthis:title="<%= social_media.default.title %>" addthis:description="<%= social_media.default.description %>" addthis:url="<%= request.original_url %>" data-no-turbolink>
  <li>
    <a class="addthis_button_twitter" rel="nofollow" data-no-turbolink="true" addthis:media="<%= social_media.twitter.image %>">
      <i class="fa-2x ub-twitter"></i>
    </a>
  </li>
  <li>
    <a class="addthis_button_facebook" rel="nofollow" data-no-turbolink="true" addthis:title="<%= social_media.facebook.title %>" addthis:description="<%= social_media.facebook.description %>" addthis:media="<%= social_media.facebook.image %>">
      <i class="fa-2x ub-facebook"></i>
    </a>
  </li>
  <li>
    <a class="addthis_button_pinterest_share" rel="nofollow" data-no-turbolink="true" addthis:title="<%= social_media.pinterest.title %>" addthis:description="<%= social_media.pinterest.description %>" addthis:media="<%= social_media.pinterest.image %>">
      <i class="fa-2x ub-pinterest"></i>
    </a>
  </li>
  <li>
    <a class="addthis_button_email" rel="nofollow" data-no-turbolink="true">
      <i class="fa-2x ub-arrow-share"></i>
    </a>
  </li>
</ul>
