<div class="c-hp">
  <div class="o-page">
    <div class="o-page__module c-hp-hero">
      <div class="o-panel c-hp-hero__body">
        <h1>Supporting educators in their work to meet high standards</h1>
        <p>We provide free, standards-aligned resources and immersive training for teachers and school leaders.</p>
        <%= link_to t('ui.learn_more'), about_path, class: 'o-btn o-btn--yellow' %>
      </div>
    </div>
    <div class="o-page__module c-hp-register">
      <div class="o-page__wrap--row c-hp-register__wrap">
        <div class="c-hp-register__item">
          <div><strong class="st-logo__standards">Standards</strong> <span class="st-logo__institute">Institute</span></div>
          <div class="text-center">Florida, July 11-15, 2016</div>
        </div>
        <div class="c-hp-register__text">
          An immersive, engaging professional development conference for teachers in math, ELA, and school and district leadership.
        </div>
        <div class="c-hp-register__item">
          <%= link_to 'Register', 'http://www.standardsinstitutes.org/institute/summer-2016-standards-institute', class: 'o-btn o-btn--register', target: '_blank' %>
        </div>
      </div>
    </div>
    <div class="o-page__module">
      <div class="o-page__wrap--row-nest">
        <div class="c-hp-panel">
          <div class="o-panel c-hp-panel__body c-hp-panel__body--ela">
            <h2>ELA Curriculum</h2>
            <div class="u-hr-small"></div>
            <p>Browse our collection of free, standards-aligned resources in English Language Arts, which are categorized by grade, from PreK-12. These online materials are based on the critically acclaimed EngageNY content have been reviewed and sequenced by our ELA experts.</p>
            <div>
              <%= link_to 'Explore ELA', explore_curriculum_index_path(subjects: 'ela'), class: 'o-btn o-btn--bordered-yellow' %>
            </div>
          </div>
        </div>
        <div class="c-hp-panel">
          <div class="o-panel c-hp-panel__body c-hp-panel__body--math">
            <h2>Math Curriculum</h2>
            <div class="u-hr-small"></div>
            <p>Our comprehensive collection of free, standards-aligned math resources for grades PreK-12 have been reviewed and sequenced by our math experts, and are based on the critically acclaimed EngageNY content.</p>
            <div>
              <%= link_to 'Explore Math', explore_curriculum_index_path(subjects: 'math'), class: 'o-btn o-btn--bordered-yellow' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="c-hp-media o-page__module o-media u-bg--light">
      <div class="o-media__img">
        <%= image_tag 'hp_find_lessons.jpg' %>
      </div>
      <div class="o-media__body">
        <h2>Find Lessons</h2>
        <div class="u-hr-small"></div>
        <p>Looking for a lesson on a specific topic and grade level? You can find it quickly here.</p>
        <%= link_to 'Find Lessons', find_lessons_path, class: 'o-btn o-btn--yellow' %>
      </div>
    </div>
    <div class="c-hp-media o-page__module o-media u-bg--light">
      <div class="o-media__body">
        <h2>Enhance Instruction</h2>
        <div class="u-hr-small"></div>
        <p>Our professional learning resources include teaching guides, videos, and podcasts that build educators' knowledge of content related to the standards and their application in the classroom.</p>
        <%= link_to 'Content Guides', enhance_instruction_index_path, class: 'o-btn o-btn--yellow u-margin-right--base' %>
        <%= link_to 'Videos', enhance_instruction_index_path(tab: 1), class: 'o-btn o-btn--bordered-yellow u-color--base' %>
      </div>
      <div class="o-media__img">
        <%= image_tag 'hp_enhance_instructions.jpg' %>
      </div>
    </div>
  </div>
</div>
