<div class="c-hp-hero">
  <div class="o-page">
    <div class="o-page__module c-hp-hero__wrap">
      <div class="c-hp-hero__body">
        <h1>Supporting educators in their work to meet high standards</h1>
        <p>We provide free, standards-aligned resources and immersive training for teachers and school leaders.</p>
        <%= link_to t('ui.learn_more'), about_path, class: 'o-btn o-btn--yellow u-margin-bottom--zero' %>
      </div>
    </div>
  </div>
</div>
<div class="c-hp">
  <div class="o-page">
    <div class="o-page__module c-hp-register">
      <div class="o-page__wrap--row c-hp-register__wrap">
        <div class="c-hp-register__item text-center">
          <div>
            <strong class="st-logo__standards">Standards</strong>
            <span class="st-logo__institute">Institute</span>
          </div>
          <div class="u-txt--st-label">Florida, February 13-17, 2017</div>
        </div>
        <div class="c-hp-register__text">
          An immersive, engaging five-day professional development experience tailored to leaders and teachers of ELA and math.
          <br>
          <div class="c-hp-register__btn--ipad">
            <%= standardsinstitutes_link %>
          </div>
        </div>
        <div class="c-hp-register__item c-hp-register__btn">
          <%= standardsinstitutes_link %>
        </div>
      </div>
    </div>
    <div class="o-page__module">
      <div class="o-page__wrap--row-nest">
        <div class="c-hp-panel">
          <div class="c-hp-panel__body c-hp-panel__body--ela">
            <h2 class="u-margin-bottom--base">ELA Curriculum</h2>
            <div class="u-hr-small"></div>
            <p>Browse our collection of free, standards-aligned PreK-Grade 12 resources in English Language Arts. These materials draw from the critically acclaimed EngageNY content and have been sequenced by experts in curriculum design and instructional implementation.</p>
            <div>
              <%= link_to 'Explore ELA', explore_curriculum_index_path(subjects: 'ela'), class: 'o-btn o-btn--bordered-yellow u-margin-bottom--zero' %>
            </div>
          </div>
        </div>
        <div class="c-hp-panel">
          <div class="c-hp-panel__body c-hp-panel__body--math">
            <h2 class="u-margin-bottom--base">Math Curriculum</h2>
            <div class="u-hr-small"></div>
            <p>Our comprehensive collection of free, standards-aligned math resources for grades PreK-12 has been reviewed and sequenced by our math experts and is based on the critically acclaimed EngageNY content.</p>
            <div>
              <%= link_to 'Explore Math', explore_curriculum_index_path(subjects: 'math'), class: 'o-btn o-btn--bordered-yellow u-margin-bottom--zero' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="c-hp-media o-page__module o-media u-bg--light">
      <div class="o-media__img o-media__img--left c-hp-img--fl">
      </div>
      <div class="o-media__body">
        <h2>Find Lessons</h2>
        <div class="u-hr-small"></div>
        <p>Looking for a lesson on a specific topic and grade level? You can find it quickly here.</p>
        <%= link_to 'Find Lessons', find_lessons_path, class: 'o-btn o-btn--yellow u-margin-bottom--zero' %>
      </div>
    </div>
    <div class="c-hp-media o-page__module o-media u-bg--light">
      <div class="o-media__body">
        <h2>Enhance Instruction</h2>
        <div class="u-hr-small"></div>
        <p>Our professional learning resources include teaching guides, videos, and podcasts that build educators' knowledge of content related to the standards and their application in the classroom.</p>
        <%= link_to 'Content Guides', enhance_instruction_index_path, class: 'o-btn o-btn--yellow u-margin-right--base' %>
        <%= link_to 'Videos', enhance_instruction_index_path(tab: 1), class: 'o-btn o-btn--bordered-yellow u-color--base' %>
      </div>
      <div class="o-media__img o-media__img--right c-hp-img--ei">
      </div>
    </div>
    <div class="c-hp-media o-page__module o-media u-bg--light">
      <div class="o-media__img o-media__img--left c-hp-img--al">
      </div>
      <div class="o-media__body">
        <h2>Advance Leadership</h2>
        <div class="u-hr-small"></div>
        <p>Empower your school community to meet today's higher standards with our free curricular and professional learning resources.</p>
        <%= link_to 'Advance Leadership', leadership_path, class: 'o-btn o-btn--bordered-yellow u-color--base u-margin-bottom--zero' %>
      </div>
    </div>
  </div>
</div>
