<div class="c-hp">
  <div class="o-page">
    <div class="o-page__module c-hp-hero">
      <div class="o-panel c-hp-hero__body">
        <h1>All students and teachers deserve an opportunity to thrive</h1>
        <p>Byline or descriptive text lorem ipsum sapereprese venimi, consedi quoditi con re, consedi quoditi con re ministret.</p>
        <%= link_to t('ui.learn_more'), '#', class: 'o-ub-btn o-ub-btn--yellow' %>
      </div>
    </div>
    <div class="o-page__module c-hp-register">
      <div class="o-page__wrap--row c-hp-register__wrap">
        <div class="c-hp-register__item">
          <strong>Standards</strong> Institute</br>
          Boston, February 15-19, 2016
        </div>
        <div class="c-hp-register__text">
          Teaser text lorem ipsum liquatur, aut rem ad qui quam, quat haruptat ovitate adi doloribus eum iur dam enti dentus voles earuntis.
        </div>
        <div class="c-hp-register__item">
          <%= link_to 'Register', '#', class: 'o-ub-btn o-ub-btn--bordered-white' %>
        </div>
      </div>
    </div>
    <div class="c-hp-panel">
      <div class="o-panel c-hp-panel__body c-hp-panel__body--ela">
        <h2>ELA Curriculum</h2>
        <div class="u-hr-small"></div>
        <p>Teaser text lorem ipsum liquatur, aut rem ad qui quam, quat haruptat ovitate adi doloribus eum iur dam enti dentus voles earuntis</p>
        <%= link_to 'Explore ELA', explore_curriculum_index_path(s: 'ela'), class: 'o-ub-btn o-ub-btn--bordered-yellow' %>
      </div>
    </div>
    <div class="c-hp-panel">
      <div class="o-panel c-hp-panel__body c-hp-panel__body--math">
        <h2>Math Curriculum</h2>
        <div class="u-hr-small"></div>
        <p>Teaser text lorem ipsum liquatur, aut rem ad qui quam, quat haruptat ovitate adi doloribus eum iur dam enti dentus voles earuntis</p>
        <%= link_to 'Explore Math', explore_curriculum_index_path(s: 'math'), class: 'o-ub-btn o-ub-btn--bordered-yellow' %>
      </div>
    </div>
    <div class="o-page__module o-media u-bg--light">
      <div class="o-media__img">
      </div>
      <div class="o-media__body">
        <h2>Find Lessons</h2>
        <div class="u-hr-small"></div>
        <p>Teaser text lorem ipsum liquatur, aut rem ad qui quam, quat haruptat ovitate adi doloribus eum iur dam enti dentus voles earuntis</p>
        <%= link_to 'Find Lessons', find_lessons_path, class: 'o-ub-btn o-ub-btn--yellow' %>
      </div>
    </div>
    <div class="o-page__module o-media u-bg--light">
      <div class="o-media__body">
        <h2>Enchance Instruction</h2>
        <div class="u-hr-small"></div>
        <p>Teaser text lorem ipsum liquatur, aut rem ad qui quam, quat haruptat ovitate adi doloribus eum iur dam enti dentus voles earuntis</p>
        <%= link_to 'Content Guides', enhance_instruction_index_path, class: 'o-ub-btn o-ub-btn--yellow u-margin-bottom--zero' %>
        <%= link_to 'Videos', enhance_instruction_index_path, class: 'o-ub-btn o-ub-btn--bordered-yellow u-margin-bottom--zero u-color--base' %>
      </div>
      <div class="o-media__img">
      </div>
    </div>
  </div>
</div>
