<div class="c-page">
  <div class="c-page-wrapper">
    <div class="c-page__hero">
      <div class="o-hero o-hero--homepage">
        <h1 class="o-hero__title">Hero Area About UnboundEd Ipsum Bandit Nonmummy</h1>
        <div class="o-hero__dsc">
          Byline or descriptive text lorem ipsum sapereprese venimi, consedi quoditi con re, consedi quoditi con re ministret.
        </div>
        <div class="o-hero__btn">
          <button class="o-btn-light"><%= t('ui.learn_more') %></button>
        </div>
      </div>
    </div>
    <div class="c-page__content">
      <div class="c-page-wrapper">
        <div class="o-panel o-learn-more o-learn-more--left c-standards">
          <div class="o-learn-more__img">

          </div>
          <div class="o-learn-more__body">

          </div>
        </div>
        <div class="o-panel o-learn-more o-learn-more--full c-ela">

        </div>
        <div class="o-panel o-learn-more o-learn-more--full c-math">

        </div>
        <hr/>
        <div class="c-find-lesson">
          <div class="c-find-lesson_title">
          </div>
          <div class="c-find-lesson_dsc">
          </div>
          <% 4.times do |i| %>
            <div class="o-panel o-card">
              <div class="o-card__header"></div>
              <div class="o-card__title">
                Lesson Title Lorem Ipsum Dolor Amque
              </div>
              <div class="o-card__dsc">
                Teaser text lorem ipsum liquatur, aut rem ad qui quam, quat haruptat ovitate adi doloribus eum iur dam enti dentus voles earuntis.
              </div>
            </div>
          <% end %>

        </div>
      </div>
    </div>

  </div>

</div>

<div class="home-page" data-role="page">
  <div class="header-module">
    <div class="hero-wrapper">
      <div class="hero-text">
        <div class="hero-title"><h1><%= t('home_page.slogan') %></h1></div>
        <div class="hero-subtitle"><%= t('home_page.tagline') %></div>
      </div>
    </div>
  </div>

  <div class="container page-content">
    <div class="row stripe-module">
      <%= link_to about_path, class: 'homepage-link visible-xs-block' do %>
        <div class="hero-img hero-img-about">
        </div>
      <% end %>
      <div class="hero-text hero-text-about">
        <div class="hero-title"><%= link_to t('nav.about'), about_path, class: 'homepage-link' %></div>
        <div class="hero-dsc">
          <%= t('home_page.about_html') %>
          <div class="hero-readmore">
            <%= link_to about_path, class: 'homepage-link' do %>
              <%= t('home_page.readmore') %> <i class="ub-icon-arrow-right"></i>
            <% end %>
          </div>
        </div>
      </div>
      <%= link_to about_path, class: 'homepage-link hidden-xs' do %>
        <div class="hero-img hero-img-about">
        </div>
      <% end %>
    </div>

    <div class="row stripe-module">
      <%= link_to :curriculum, class: 'homepage-link' do %>
        <div class="hero-img hero-img-curriculum">
        </div>
      <% end %>
      <div class="hero-text hero-text-curriculum">
        <div class="hero-title"><%= link_to t('nav.curriculum'), :curriculum, class: 'homepage-link' %></div>
        <div class="hero-dsc">
          <%= t('home_page.curriculum_html') %>
          <div class="hero-readmore">
            <%= link_to :curriculum, class: 'homepage-link' do %>
              <%= t('home_page.readmore') %> <i class="ub-icon-arrow-right"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <% if false %>
      <div class="row stripe-module">
        <div class="hero-text">
          <div class="hero-title"><%= t('nav.professional_development') %></div>
          <div class="hero-dsc"><%= t('home_page.professional_development_html') %></div>
        </div>
        <div class="hero-img">
          <%= image_tag("professional_development.jpg", :alt => t('nav.professional_development')) %>
        </div>
      </div>
    <% end %>

  </div>

</div>
