<div class="o-page">
  <div class="o-page__hero c-hp-hero">
    <div class="c-hp-hero__body">
      <h1>Hero Area About UnboundEd Ipsum Bandit Nonmummy</h1>
      <p>Byline or descriptive text lorem ipsum sapereprese venimi, consedi quoditi con re, consedi quoditi con re ministret.</p>
      <%= link_to t('ui.learn_more'), '#', class: 'o-btn--light u-margin-top--large' %>
    </div>
  </div>
  <div class="c-hp-standards">
    <div class="o-panel">
      <div class="c-hp-standards__img">
        <%= image_tag('placeholder') %>
      </div>
      <div class="c-hp-standards__body">
        <h1>Standards Institute</h1>
        <p>Byline or descriptive text lorem ipsum sapereprese venimi, consedi quoditi conre, consedi quoditi con re ministret.</p>
        <%= link_to t('ui.learn_more'), '#', class: 'o-btn--dark u-margin-top--base' %>
      </div>
    </div>
  </div>
  <div class="c-hp-ela">
    <div class="o-panel o-panel--bottom c-hp-ela__panel">
      <h2>Explore ELA Curriculum</h2>
      <p>Teaser text lorem ipsum liquatur, aut rem ad qui quam, quat haruptat ovitate adi doloribus eum iur dam enti dentus voles earuntis</p>
    </div>
  </div>
  <div class="c-hp-math">
    <div class="o-panel o-panel--bottom c-hp-math__panel">
      <h2>Explore Math Curriculum</h2>
      <p>Teaser text lorem ipsum liquatur, aut rem ad qui quam, quat haruptat ovitate adi doloribus eum iur dam enti dentus voles earuntis</p>
    </div>
  </div>
  <div class="c-hp-hr"><hr/></div>
  <div class="o-page__module">
    <div class="o-dsc">
      <div class="o-dsc__title">FIND LESSONS BLOCK TITLE</div>
      <div class="o-dsc__dsc">Display text about lessons lorem ipsum dolor essunt apictias aut perrum natero que ipsunt qui ut volorer sperferibus ma dolessite paribus.</div>
      <div class="o-dsc__cards">
        <% 4.times do |i| %>
          <div class="o-card o-card--base">
            <div class="u-wrap--base">
              <div class="o-card__header o-title">
                <span class="o-title__type">LESSON</span>
                <span class="o-title__duration">60 min</span>
              </div>
              <h2>Lesson Title Lorem Ipsum Dolor Amque</h2>
              <div class="o-card__dsc">
                Teaser text lorem ipsum liquatur, aut rem ad qui quam, quat haruptat ovitate adi doloribus eum iur dam enti dentus voles earuntis.
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="o-dsc__button">
        <%= link_to t('ui.view_all_lessons'), '#', class: 'o-btn--light' %>
      </div>
    </div>
  </div>
  <div class="c-hp-hr"><hr/></div>
  <div class="o-page__module">
    <div class="o-dsc">
      <div class="o-dsc__title">ENHANCE INSTRUCTION BLOCK TITLE</div>
      <div class="o-dsc__dsc">Display text about lessons lorem ipsum dolor essunt apictias aut perrum natero que ipsunt qui ut volorer sperferibus ma dolessite paribus.</div>
      <div class="o-dsc__cards">
        <% 4.times do |i| %>
          <div class="o-card o-card--base">
            <div class="u-wrap--light">
              <div class="o-card__header o-title">
                <span class="o-title__type">CONTENT GUIDE</span>
                <span class="o-title__duration">60 min</span>
              </div>
              <h2>Guide Title Lorem Ipsum Dolor Amque Illionem</h2>
              <div class="o-card__dsc">
                Teaser text lorem ipsum liquatur, aut rem ad qui quam, quat haruptat ovitate adi doloribus eum iur dam enti dentus voles earuntis.
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="o-dsc__button">
        <%= link_to t('ui.view_all_instructions'), '#', class: 'o-btn--light' %>
      </div>
    </div>
  </div>
  <div class="c-hp-hr"><hr/></div>
  <%= render partial: "shared/freshdesk" %>
  <div class="c-hp-hr"><hr/></div>
  <div class="o-page__module">
    <div class="o-dsc">
      <div class="o-dsc__title">ENHANCE INSTRUCTION BLOCK TITLE</div>
      <div class="o-dsc__dsc">Display text about lessons lorem ipsum dolor essunt apictias aut perrum natero que ipsunt qui ut volorer sperferibus ma dolessite paribus.</div>
      <%= render partial: "shared/contact" %>
    </div>
  </div>
</div>
