<div class=nc-content>
  <h2 class=text-center><%= t('.page_title') %></h2>

  <%= simple_form_for @lobject, url: :unbounded_admin_lobject_bulk_edits do |f| %>

    <% @lobjects.each do |lobject| %>
      <%= hidden_field_tag 'ids[]', lobject.id %>
    <% end %>

    <%= f.association :grades, as: :select, input_html: { class: 'selectize', multiple: true }, label_method: :grade %>

    <%= f.association :alignments, as: :select, input_html: { class: 'selectize', multiple: true } %>

    <%= f.association :resource_types, as: :select, input_html: { class: 'selectize', multiple: true } %>

    <%= f.button :submit, t('ui.save'), name: nil %>

  <% end %>
</div>
