<div class="o-ld-pd">
  <table class="o-simple-table cs-bg--pd-bg">
    <tr>
      <td class="u-table-wrap cs-border-bottom--pd">
        <p class="u-txt--ld-pd-caption u-gdoc-padding-bottom--zero">PROFESSIONAL DEVELOPMENT</p>
        <% if @tmpl[:title].present? %>
          <h3 class="u-txt--ld-pd-title u-gdoc-padding-bottom--zero"><a href="<%= @tmpl[:resource_url] || @tmpl[:url] %>"><strong><%= @tmpl[:resource]&.title || @tmpl[:title] %></strong></a></h3>
        <% end %>
        <hr />
        <% if @tmpl[:type] == DocTemplate::Tags::PdTag::TYPE_CG %>
          <p class="u-txt--ld-pd-cg-header">UnboundEd <%= @tmpl[:content_guide].subject == 'math' ? 'Math' : 'ELA' %> Guide / <%= @tmpl[:title] %></p>
        <% end %>
        <% if @tmpl[:description].present? %>
          <h5>Description</h5>
          <p><%= @tmpl[:description] %></p>
        <% end %>
      </td>
    </tr>
  </table>
  <p class="do-not-strip"></p>
</div>
