<div class="o-ld-section-wrapper" data-id="<%= @tmpl[:section].anchor %>" data-tag="<%= @tmpl[:placeholder] %>">
  <div class="o-ld-hr--l2">
    <hr>
  </div>

  <table id="<%= @tmpl[:section].anchor %>" class="o-simple-table cs-bg--ela6-section-bg">
    <tr class="u-pdf-nobreak u-pdf-nobreak--around">
      <td class="cs-border-top--ela">
      </td>
    </tr>
    <tr>
      <td class="u-table-wrap--l2">
        <table class="o-simple-table">
          <tr>
            <td class="o-ld-title__title">
              <h3 class="o-ld-title__title--h3">
                <% if (icon = @tmpl[:section].icon).present? %>
                  <span class="o-m-icon o-m-icon--<%= icon %>"></span>
                <% end %>
                <%= @tmpl[:section].title %>
                <% if false && @tmpl[:section].activity_priority.present? %>
                    <span class="o-ld-icon o-ld-icon--base o-ld-icon--priority<%= @tmpl[:section].priority %>"></span>
                <% end %>
              </h3>
            </td>
            <td class="o-ld-title__time o-ld-title__time--h3 u-text--right"><%= @tmpl[:section].time.zero? ? '&mdash;' : "#{@tmpl[:section].time} mins" %></td>
          </tr>
        </table>

        <% if @tmpl[:blockquote].present? %>
          <div class="o-ld-section__quote">
            <%= @tmpl[:blockquote].html_safe %>
          </div>
        <% end %>

        <% if false && (metacog = @tmpl[:section].metacognition&.content) %>
          <div class="o-ld-activity__metacognition hide">
            <%= metacog %>
          </div>
        <% end %>

        <%= @tmpl[:content] %>
      </td>
    </tr>
  </table>
</div>
