<div class="c-stp-staff o-page__wrap--row">
<% members.each_with_index do |member, i| %>
  <div class="c-stp-staff__item">
    <div class="c-stp-staff__intro" data-toggle="c-stp-staff-<%= "#{type}_#{i}" %>">
      <div class="c-stp-media">
        <div class="c-stp-media__img">
          <%= image_tag(member.image_file.try(:url) || 'head.svg') %>
        </div>
        <div class="c-stp-media__body">
          <h3><%= member.name %></h3>
          <h4><%= member.position %></h4>
          <h4><%= member.department %></h4>
        </div>
      </div>
    </div>
    <div class="c-stp-staff__dsc" id="c-stp-staff-<%= "#{type}_#{i}" %>" data-toggler="u-show">
      <h5>Bio of <%= member.name %></h5>
      <div>
        <%= member.bio.try(:html_safe) %>
      </div>
      <button class="close-button" aria-label="Dismiss alert" type="button" data-toggle="c-stp-staff-<%= "#{type}_#{i}" %>">
        <span aria-hidden="true"><i class="ub-close"></i></span>
      </button>
    </div>
  </div>
<% end %>
</div>
