<% set_page_title @page.title %>
<div class="c-ap">
  <!-- <div class="o-page">
    <div class="o-page__module c-ap-hero">
      <div class="o-panel c-ap-hero__body">
        <strong class="cs-txt--default-base">MISSION</strong>
        <p>We provide educators with the high-quality educational and instructional resources they need to help their students achieve their potential.</p>
      </div>
    </div>
  </div> -->
  <div class="u-bg--light">
    <div class="o-page">
      <div class="o-page__module o-media u-margin-top--gutter">
        <div class="o-media__body o-media__body--no-left">
          <h2>About UnboundEd</h2>
          <div class="u-hr-small"></div>
          <p>We know from experience the hard work teachers face every day, particularly now, as they strive to help their students meet the challenges set by higher standards. We are dedicated to empowering them by providing immersive training and support, and free, high-quality, standards-aligned resources that they can use in their classrooms, schools and districts.</br></br>Our online curricular materials, for grades PreK-12, and have been thoroughly reviewed and sequenced by our math and ELA experts.</br></br> Our professional learning experiences and and resources help educators integrate standards-based knowledge and content into their daily practice.</p>
        </div>
        <div class="o-media__img">
        </div>
      </div>
    </div>
  </div>
  <div class="u-bg--base">
    <div class="o-page">
      <div class="o-page__module o-media u-margin-top--gutter">
        <div class="o-media__img">
        </div>
        <div class="o-media__body o-media__body--no-right">
          <h2>Who we are</h2>
          <div class="u-hr-small u-hr-small--green"></div>
          <p>We are a team of former classroom teachers, curriculum writers, school leaders and education experts who have worked in the public, private and nonprofit sectors.</p>
          <%= link_to 'Our People', about_people_path, class: 'o-ub-btn o-ub-btn--green' %>
        </div>
      </div>
    </div>
  </div>
  <div class="u-bg--light">
    <div class="o-page">
      <div class="o-page__module o-media u-margin-top--gutter">
        <div class="o-media__body o-media__body--no-left">
          <h2>Our partners</h2>
          <div class="u-hr-small"></div>
          <p>We proudly partner with organizations, businesses and individuals who are dedicated to educator learning and growth.</p>
          <%= link_to 'Our Partners', '#', class: 'o-ub-btn o-ub-btn--yellow' %>
        </div>
        <div class="o-media__img">
        </div>
      </div>
    </div>
  </div>
  <div class="u-bg--base">
    <div class="o-page">
      <div class="o-page__module o-media u-margin-top--gutter">
        <div class="o-media__img">
        </div>
        <div class="o-media__body o-media__body--no-right">
          <h2>Standard Institute</h2>
          <div class="u-hr-small u-hr-small--green"></div>
          <p>We bring educators from across the country in person for multiday, intensive and transformative learning experiences, each designed to help build, improve and sustain instructional excellence in a particular grade band or grade level. Our Standards Institutes offer an ELA or math pathway focused on curriculum and instruction, as well as a leadership pathway focused on leadership, systems and structures, and curriculum and instruction for school and district administrators.</p>
          <%= link_to t('ui.learn_more'), '#', class: 'o-ub-btn o-ub-btn--green' %>
        </div>
      </div>
    </div>
  </div>
  <div class="u-bg--light">
    <div class="o-page">
      <div class="o-page__module c-ap-cta text-center">
        <h2>Careers</h2>
        <div class="u-hr-small float-center"></div>
        <p>Interested in joining us as we work to close the achievement gap? We are hiring.</p>
        <%= link_to 'View Positions', '#', class: 'o-ub-btn o-ub-btn--yellow u-margin-bottom--zero' %>
      </div>
    </div>
  </div>
  <div class="u-bg--base u-padding-top--large u-padding-bottom--large">
    <div class="o-page">
      <div class="o-page__module c-ap-cta text-center">
        <h2>Contact Us</h2>
        <div class="u-hr-small u-hr-small--green float-center"></div>
        <p>If you have a question or want to learn more about us, we'd love to hear from you.</p>
        <%= link_to 'Get in Touch', '#', class: 'o-ub-btn o-ub-btn--green u-margin-bottom--zero' %>
      </div>
    </div>
  </div>
</div>
