<div class="c-ls-hero">
  <div class="o-page">
    <div class="o-page__module c-ls-hero__wrap">
      <div class="c-ls-hero__body">
        <div class="u-txt--ls-subhead">SCHOOL LEADERSHIP</div>
        <h1>Promote a culture of everyday learning and achievement</h1>
        <p>Empower and inspire your school community to ensure higher standards for all students with our free, aligned curricular and professional learning resources.</p>
      </div>
    </div>
  </div>
</div>
<div class="u-bg--light">
  <div class="o-page">
    <div class="c-ls-cblock c-ls-block">
      <div class="c-ls-cblock__body">
        <h2>Leadership in Action</h2>
        <div class="u-hr-small u-hr-small--ls float-center"></div>
        <p>
          Witness school leaders across the country share their leadership stories and reflect on their own challenges and successes as they motivate and support their teams in this age of new, higher standards.
        </p>
      </div>
      <div class="c-ls-cblock__carousel">
        <%= render partial: 'leadership_in_action' %>
      </div>
    </div>
  </div>
</div>
<div class="u-bg--ls">
  <div class="o-page">
    <div class="o-page__module o-media c-ls-block">
      <div class="o-media__body o-media__body--no-left o-media__body--no-padding">
        <h2>Support Your Team</h2>
        <div class="u-hr-small u-hr-small--ls"></div>
        <p>Deepen the professional expertise and content knowledge of your staff and Professional Learning Communities with our ELA and math content guides, videos and podcasts, which explore the meaning of the standards and how they can be effectively applied in everyday instruction.</p>
        <%= link_to t('nav.curriculum'), explore_curriculum_index_path, class: 'o-btn o-btn--yellow' %>
      </div>
      <div class="o-media__img c-ap-img--op">
      </div>
    </div>
  </div>
</div>
<div class="u-bg--light">
  <div class="o-page">
    <div class="o-page__module o-media c-ls-block">
      <div class="o-media__img c-ap-img--hwa">
      </div>
      <div class="o-media__body o-media__body--no-right o-media__body--no-padding u-margin-bottom--gutter2x">
        <h2>Enhance Your Curriculum</h2>
        <div class="u-hr-small u-hr-small--ls"></div>
        <p>Explore comprehensive, sequenced and aligned K-12 ELA and math curriculum that can be adapted or adopted for your school.</p>
        <%= link_to t('nav.instructions'), enhance_instruction_index_path, class: 'o-btn o-btn--yellow' %>
      </div>
    </div>
  </div>
</div>
<div class="u-bg--ls">
  <div class="o-page">
    <div class="c-ls-cblock c-ls-block">
      <div class="c-ls-cblock__body c-ls-cblock__body--smaller">
        <h2>Why I Lead</h2>
        <div class="u-hr-small u-hr-small--ls float-center"></div>
        <p>
          Join the leadership movement on social media! Learn from and be inspired by our community of school leaders who are doing the hard and rewarding work of leading schools toward high achievement for all students.
        </p>
      </div>
      <div class="c-ls-cblock__carousel">
        <%= render partial: 'leadership_why_i_lead', locals: { ls_posts: @ls_posts } %>
      </div>
    </div>
  </div>
</div>
<div class="u-bg--light">
  <div class="o-page">
    <div class="o-page__module c-lk-cta c-ls-block text-center">
      <h2>Say Hello!</h2>
      <div class="u-hr-small u-hr-small--ls float-center"></div>
      <p>If you have a question or want to learn more about us, we'd love to hear from you.</p>
      <%= react_component('FreshdeskBtn', {text: 'Get in Touch', cls: 'o-btn o-btn--yellow'}) %>
    </div>
  </div>
</div>
