<% url = @resource.new_record? ? :admin_resources : admin_resource_path(@resource) %>

<%= simple_nested_form_for @resource, url: url, html: { id: 'resource_form' } do |f| %>
  <%= render partial: 'fields', locals: { f: f, resource: @resource } %>

  <% if (curriculums = @resource.curriculums).any? %>
    <div class='callout secondary'>
      <h5 class=text-center><%= t('.add_child_resources') %></h5>

      <ul class='vertical menu' data-accordion>
        <% curriculums.each do |curriculum| %>
          <li class=accordion-item data-accordion-item data-allow-all-closed>
            <%= link_to curriculum.root.resource.title, '#', class: 'accordion-title' %>

            <div class=accordion-content data-tab-content>
              <% resource = @child_resources_hash[curriculum] || Resource.new %>

              <%= simple_fields_for "children[#{curriculum.id}][resource]", resource do |child_form| %>
                <%= render partial: 'fields', locals: { f: child_form, resource: resource } %>
              <% end %>
            </div>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if Settings.editing_enabled? %>
    <%= f.button :submit, t('ui.save'), name: nil %>

    <% if @resource.persisted? %>
      <%= link_to t('ui.delete'), admin_resource_path(@resource), class: 'button alert', data: { confirm: t('ui.are_you_sure') }, method: :delete %>
    <% end %>
  <% end %>

<% end %>
