<li class="o-ld-sidebar__item <%= 'o-ld-sidebar-foundational-skills' if heading.title['Foundational Skills'] %>">
  <a class="o-ld-sidebar-item ">
    <% if heading.children.any? %>
      <div class="o-ld-sidebar-item__icon"><i class="ub-angle-right"></i></div>
    <% end %>
    <div href="#<%= heading.anchor %>" class="o-ld-sidebar-item__content" data-duration="<%= heading.time.to_i %>" data-level="<%= heading.level %>">
      <div class="o-ld-sidebar-item__header--l<%= heading.level %>">
        <%= heading.title %>
        <% unless heading.priority.to_i.zero? %>
          <span class="o-ld-icon o-ld-icon--small o-ld-icon--priority<%= heading.priority %>"></span>
        <% end %>
      </div>
      <div class="o-ld-sidebar-item__time o-ld-sidebar-item__time--l<%= heading.level %>">
        <%= toc_time(heading.time) %>
      </div>
    </div>
  </a>
  <% if heading.children.any? %>
    <ul class="o-ld-sidebar__menu o-ld-sidebar__menu--nested nested">
      <% heading.children.each do |subheading| %>
        <%= render 'nav_item', heading: subheading %>
      <% end %>
    </ul>
  <% end %>
</li>
