<ul class="menu c-sticky-header__menu">
  <li><%= render partial: 'shared/search_form' %></li>
  <%= nav_link t('nav.curriculum_html'), explore_curriculum_index_path, class: "c-sticky-header__link #{add_class_for_action(:resources, :show, 'active')}" %>
  <%= nav_link t('nav.lessons_html'), find_lessons_path, class: "c-sticky-header__link" %>
  <%= nav_link t('nav.instructions_html'), enhance_instruction_index_path, class: "c-sticky-header__link #{add_class_for_action(:resources, :media, 'active')} #{add_class_for_action(:content_guides, :show, 'active')}" %>
  <%# nav_link t('nav.leadership_html'), leadership_path, class: "c-sticky-header__link" %>
  <%# nav_link t('nav.about_html'), about_path, class: "c-sticky-header__link #{add_class_for_path(about_people_path, 'active')}" %>
  <%#li class="">
    <%= render partial: 'shared/social_sharing_menu', locals: { cls: 'c-sticky-header' } >
  </li %>
</ul>
