<div class=o-page>
  <div class=clearfix>
    <div class=pull-right>
      <%= link_to t('.new_access_code'), :new_admin_access_code, class: 'btn btn-success', 'data-no-turbolink' => '' %>
    </div>
  </div>

  <h2 class=text-center><%= t('.page_title') %></h2>

  <div class=row>
    <div class="col-md-12">
      <table class=table>
        <tr>
          <th><%= t('.code') %>
          <th><%= t('.active') %>
          <th><%= t('ui.actions') %></th>
        </tr>

        <% @access_codes.each do |access_code| %>
          <tr id="access_code_<%= access_code.id %>">
            <td><%= link_to access_code.code, edit_admin_access_code_path(access_code) %>
            <td><%= access_code.active ? 'YES' : 'NO' %>
            <td>
              <%= button_to t('ui.delete'), admin_access_code_path(access_code), class: 'btn btn-danger', data: { confirm: t('ui.are_you_sure') }, form_class: 'inline', method: :delete %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class=row>
    <div class='col-sm-12 text-center'>
      <%= will_paginate @access_codes, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>
