<!-- Ref:  (v5)NEW-1577_Annotated_IA_v05  page 21 -->
<div class="o-page">
  <div class="o-page__sticky">
    <div class="o-sticky <%= 'o-sticky--disabled' unless @lesson.previous %>">
      <a href="<%= @lesson.previous ? lesson_path(@lesson.previous) : '#' %>"><i class="fa fa-2x fa-angle-left"></i></a>
      <!--strong>Previous Lesson in Series</strong></br> @lesson.previous.title -->
    </div>
  </div>
  <div class="o-page__content--collapse">
    <div class="o-page_wrap--row">
      <%= link_to unit_path(@lesson.unit), class: 'o-btn--dark o-btn--bordered o-btn--expand o-page__section u-margin-bottom--base .u-text--capitalized' do %>
        <%= t('resources.btn.view', short_title: @lesson.unit.short_title) + ': ' + @lesson.unit.title %>
      <% end %>
      <div class="o-page__section  u-bg--primary">
        <div class="o-content-title">
          <%= link_to @lesson.subject_and_grade_title, '#' %>
        </div>
      </div>
      <div class="o-page__section  u-pd-content u-bg--light">
        <div class="o-title">
          <span class="o-title__type">LESSON</span>
          <span class="o-title__duration">60 min</span>
        </div>
        <div class="o-resource-title">
          <div class="o-resource-title__title">
            <h2><%= @lesson.title %></h2>
            <div class="u-text--large">
              <%= @lesson.teaser_text %>
            </div>
          </div>
          <div class="o-resource-title__links">
            <div>
              <button class="o-ub-btn" data-open="downloads-modal"><%= t('resources.btn.download', title: 'Lesson') %></button>
            </div>
            <div>
              <%= link_to t('resources.btn.related'), '#', class: 'o-ub-btn o-ub-btn--bordered' %>
            </div>
          </div>
        </div>
        <div><h3>Summary</h3></div>
        <hr class="u-margin-top--xs"/>
        <div class="o-resource-summary">
          <div class="o-resource-summary__map">
            <strong>Curriculum Map</strong> &ndash; <span class="u-text--capitalized"><%= @lesson.subject_and_grade_title %></span>
            <%= render partial: 'resources/curriculum_map', locals: { resource: @lesson, curriculum: @curriculum } %>
          </div>
          <div class="o-resource-summary__content">
            <div class="o-resource__item o-resource__item--description">
              <h3>Description</h3>
              <%= @lesson.description.try(:html_safe) %>
            </div>
            <div class="o-resource__item">
              <h3>Downloads</h3>
              <ul class="o-resource__list o-resource__list--icons">
                <% @lesson.downloads.each do |download| %>
                  <%= render partial: 'resources/download', locals: { download: download } %>
                <% end %>
              </ul>
            </div>
            <% unless @lesson.requirements.empty? %>
            <div class="o-resource__item">
              <h3>Prerequisites</h3>
              <ul>
              <% @lesson.requirements.each do |req| %>
                <li>
                  <a href="<%= lesson_path req %>"><%= req.title %></a>
                </li>
              <% end %>
              </ul>
            </div>
            <% end %>
            <div class="o-resource__item">
              <h3>Tags</h3>
              <div><%= @lesson.tags %></div>
            </div>
            <% if @lesson.engageny_url %>
            <div class="o-resource__item">
              <h3>Credits</h3>
              <%= render partial: 'resources/engageny', locals: { resource: @lesson } %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <%= render partial: 'resources/download_form', locals: { downloads: @lesson.downloads, title: 'Lesson' } %>
    </div>
  </div>
  <div class="o-page__sticky">
    <div class="o-sticky o-sticky--right <%= 'o-sticky--disabled' unless @lesson.next %>">
      <a href="<%= @lesson.next ? lesson_path(@lesson.next) : '#' %>"><i class="fa fa-2x fa-angle-right"></i></a>
      <!--strong>Next Lesson in Series</strong></br>@lesson.next.title -->
    </div>
  </div>
</div>
