<% content_for :above_flash do %>
  <div class="callout warning">
    Welcome to UnboundEd Beta!
    <br>
    To access the beta site for the first time, you’ll need to register; if you’ve already completed the registration process, simply log in.
  </div>
<% end %>

<div class="o-page">
  <div class="o-page__content u-pd-content">
    <div class="u-centered u-container--condensed">
      <h1 class="u-margin-bottom--large">Log in</h1>
      <div class="u-hr-small u-margin-bottom--xlarge"></div>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.email_field :email, autofocus: true, class: 'o-input-placehoder--medium-gray', placeholder: 'Enter email address' %>
        <%= f.password_field :password, autocomplete: 'off', class: 'o-input-placehoder--medium-gray', placeholder: 'Enter password' %>
        <div class="u-margin-top--xlarge">
          <%= f.submit 'Log in', class: 'o-btn o-btn--xs-full o-btn--yellow o-btn--xs-full' %>
          <%= link_to 'Register', new_registration_path(resource_name), class: 'o-btn o-btn--xs-full o-btn--bordered-yellow u-color--base u-margin-left--base o-btn--xs-full' %>
        </div>
      <% end %>

      <div class="u-margin-bottom--xlarge u-margin-top--xlarge">
        <%= link_to 'Forgot your password?', new_password_path(resource_name) %>
        <br>
        <%= link_to "Didn't receive confirmation instructions?", new_user_confirmation_path %>
      </div>
    </div>
  </div>
</div>
