<div class="o-page">
  <div class="o-page__content">
    <h1 class="text-center">Administrator Log in</h1>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="row">
        <div class="small-3 small-offset-2 columns">
          <%= f.label :email, class: 'text-right middle' %>
        </div>
        <div class="small-3 columns">
          <%= f.email_field :email, autofocus: true %>
        </div>
      </div>

      <div class="row">
        <div class="small-3 small-offset-2 columns">
          <%= f.label :password, class: 'text-right middle' %>
        </div>
        <div class="small-3 columns">
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
      </div>

      <div class="row align-center">
        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>
      </div>

      <div class="row align-center">
        <%= f.submit "Log in", class: 'button' %>
      </div>

      <div class="row align-center">
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>

</div>
