<div class="o-c-map">
  <% if curriculum.lesson? || curriculum.unit? %>
    <% curriculum.current_grade.children.each do |mod| %>
      <div class="o-c-map__module-wrap">
        <div class="o-c-map__module <%= curriculum.active?(mod) ? "cs-bg--#{color_code}" : "cs-bg--base" %>" style="width: <%= curriculum.module_width(mod) %>%;">
          <%= mod.resource.short_title %>
        </div>
      </div>
      <% if curriculum.active?(mod) %>
        <div class="o-c-map__units-wrap">
          <div class="o-c-map__units">
            <% mod.children.each do |unit| %>
              <div class="o-c-map__unit">
              <% unit.children.each do |lesson| %>
                <div class="o-c-map__lesson <%= (curriculum.active?(unit) && curriculum.unit?) || curriculum.active?(lesson) ? "cs-bg--#{color_code}" : "cs-bg--base" %>"></div>
              <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% elsif curriculum.module? || curriculum.grade? %>
    <% curriculum.current_grade.children.each do |mod| %>
      <div class="o-c-map__module-wrap">
        <div class="o-c-map__module <%= curriculum.active?(mod) ? "cs-bg--#{color_code}" : "cs-bg--base" %>" style="width:<%= curriculum.module_width(mod) %>%;">
          <%= mod.resource.short_title %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
