<% indent = resource.downloads_indent %>

<div id="resource-downloads-list" class="o-resource__item">
  <h3>Downloads</h3>
  <ul class="o-resource__list o-resource__list--icons o-resource__list--<%= resource.color_code %>">
    <% resource.download_categories.each do |k, downloads| %>
      <strong class="<%= 'u-margin-top--xs' if k.present? %>"><%= k %></strong>
      <% downloads.take(Resource::DOWNLOAD_PER_CATEGORY_LIMIT).each do |download| %>
        <%= render partial: 'resources/download',
                            locals: { download: download,
                                      curriculum: curriculum,
                                      indent: indent } %>
      <% end %>
      <% if downloads.size >= Resource::DOWNLOAD_PER_CATEGORY_LIMIT %>
      <div class="o-resource-downloads">
        <li class="o-resource-downloads__btn o-resource-downloads__btn--more"><%= t('ui.show_more') %></li>
        <div class="o-resource-downloads__list">
          <% downloads[Resource::DOWNLOAD_PER_CATEGORY_LIMIT..-1].each do |download| %>
            <%= render partial: 'resources/download',
                                locals: { download: download,
                                          curriculum: curriculum,
                                          indent: indent } %>
          <% end %>
        </div>
        <li class="o-resource-downloads__btn o-resource-downloads__btn--less"><%= t('ui.show_less') %></li>
      </div>
      <% end %>
    <% end %>
    <% if resource.downloads.empty? %>
      <span>There are no downloads for this resource</span>
    <% end %>
  </ul>
</div>
