<div id="resource-downloads-list" class="o-resource__item">
  <h3>Downloads</h3>
  <% if resource.download_categories.any? %>
    <% resource.download_categories.each_with_index do |(category_title, downloads), idx| %>
      <%# Hard positioning bundles on the 2nd %>
      <%= render partial: 'resources/unit_bundles', locals: { resource: resource } if idx == 1 %>

      <h4 class="<%= 'u-margin-top--xs' if category_title.present? %>"><%= category_title %></h4>
        <% if (resource_download = downloads.first) %>
          <% category = resource_download.download_category %>
          <% settings = resource.download_categories_settings[category_title.parameterize] %>
          <% if settings.try(:[], 'show_short_description') %>
            <p><%= resource_download.try(:short).presence || category&.description %></p>
          <% end %>
          <% if settings.try(:[], 'show_long_description') %>
            <div><%= raw resource_download.try(:long).presence || category&.long_description %></div>
          <% end %>
          <%  %>
          <% indent = resource.downloads_indent category: category %>
          <% if (downloads_ext = downloads.take(download_per_category_limit)).any? %>
            <ul class="o-resource__list o-resource__list--icons o-resource__list--<%= color_code(resource, base: true) %>">
              <% downloads_ext.each do |download| %>
                <%= render(partial: 'resources/download', locals: { download: download, resource: resource, indent: indent }) if download.is_a?(ResourceDownload) %>
              <% end %>
            </ul>
          <% end %>
          <% if downloads.size > download_per_category_limit %>
            <div class="o-resource-downloads">
              <div class="o-resource-downloads__btn o-resource-downloads__btn--more"><%= t('ui.show_more') %></div>
              <div class="o-resource-downloads__list">
                <ul class="o-resource__list o-resource__list--icons o-resource__list--<%= color_code(resource, base: true) %>">
                  <% downloads[download_per_category_limit..-1].each do |download| %>
                    <%= render(partial: 'resources/download', locals: { download: download, resource: resource, indent: indent }) if download.is_a?(ResourceDownload) %>
                  <% end %>
                </ul>
              </div>
              <div class="o-resource-downloads__btn o-resource-downloads__btn--less"><%= t('ui.show_less') %></div>
            </div>
          <% end %>
        <% end %>
    <% end %>
  <% elsif resource.unit_bundles? %>
    <%= render partial: 'resources/unit_bundles', locals: { resource: resource } %>
  <% elsif resource.downloads.empty? %>
    <span>There are no downloads for this resource</span>
  <% end %>
</div>
