<% indent = resource.downloads_indent %>

<div id="resource-downloads-list" class="o-resource__item">
  <h3>Downloads</h3>
  <ul class="o-resource__list o-resource__list--icons o-resource__list--<%= color_code(resource, base: true) %>">
    <% resource.download_categories.each do |k, downloads| %>
      <strong class="<%= 'u-margin-top--xs' if k.present? %>"><%= k %></strong>
      <% downloads.take(download_per_category_limit).each do |download| %>
        <%= render partial: 'resources/download',
                            locals: { download: download,
                                      resource: resource,
                                      indent: indent } %>
      <% end %>
      <% if downloads.size > download_per_category_limit %>
      <div class="o-resource-downloads">
        <li class="o-resource-downloads__btn o-resource-downloads__btn--more"><%= t('ui.show_more') %></li>
        <div class="o-resource-downloads__list">
          <% downloads[download_per_category_limit..-1].each do |download| %>
            <%= render partial: 'resources/download',
                                locals: { download: download,
                                          resource: resource,
                                          indent: indent } %>
          <% end %>
        </div>
        <li class="o-resource-downloads__btn o-resource-downloads__btn--less"><%= t('ui.show_less') %></li>
      </div>
      <% end %>
    <% end %>
    <% if resource.downloads.empty? %>
      <span>There are no downloads for this resource</span>
    <% end %>
  </ul>
</div>
