<% set_page_title @resource.title %>
<% set_og_tags @resource.title, @resource.teaser %>

<div class="o-page o-page--margin-to-bottom">
  <div class="o-page__module u-margin-bottom--gutter">
    <%= link_to enhance_instruction_index_path(tab: 2), class: 'o-ub-btn o-ub-btn--base' do %>
      <i class="fa-lg ub-arrow-left"></i> <%= t('instructions.btn.back') %>
    <% end %>
  </div>
  <%= render partial: 'resources/header', locals: { curriculum: nil,
                                                    resource: @resource,
                                                    color_code: @resource.color_code } %>
  <div class="o-page__section u-padding-top--gutter u-bg--light">
    <div class="o-resource-title">
      <div class="o-resource-title__title">
        <div class="o-title u-text--uppercase">
          <span class="o-title__type cs-txt--<%= @resource.color_code %>"><%= @resource.type_name %></span>
          <span class="o-title__duration"><%= react_component('TimeToTeach', {duration: @resource.time_to_teach}, prerender: true) %></span>
        </div>
        <h1><%= @resource.title %></h1>
        <div class="u-txt--teaser o-social-sharing__teaser">
          <%= @resource.teaser %>
        </div>
      </div>
      <div class="o-resource-title__links">
        <div>
          <a class="o-ub-btn o-ub-btn--yellow <%= 'o-ub-btn--disabled' if @resource.downloads.empty? %>" data-open="downloads-modal">
            <%= t('resources.btn.download', title: @resource.type_name) %>
          </a>
        </div>
      </div>
    </div>
    <hr class="o-resource-hr">
    <div class="o-resource-summary u-padding-bottom--gutter">
      <div class="o-resource-summary__map">
        <%= render partial: 'shared/social_sharing', locals: { resource: @resource, cl: '' } %>
      </div>
      <div class="o-resource-summary__content">
        <% if @resource.preview? %>
          <div class="o-generic-preview">
            <canvas id="o-generic-preview__canvas" class="o-generic-preview__canvas"></canvas>
            <%= link_to t('ui.show_more'), preview_download_path(@resource.pdf_preview_download), class: 'o-generic-preview__btn o-ub-btn--show-more', target: '_blank' %>
          </div>
        <% end %>
        <div class="o-resource__item o-resource__item--description">
          <h3>Description</h3>
          <%= @resource.description.try(:html_safe) %>
        </div>
        <%= render partial: 'resources/downloads', locals: { resource: @resource, curriculum: @curriculum } %>
        <%= render partial: 'resources/prerequisites_standards', locals: { standards: @resource.prerequisites_standards, color_code: @resource.color_code } %>
        <%= render_tag_clouds(@resource.named_tags, @resource.color_code) %>
        <% if @resource.copyright_attributions.present? %>
        <div class="o-resource__item o-resource__item--credits">
          <h3>Credits</h3>
          <%= render partial: 'resources/engageny_generic', locals: { resource: @resource, color_code: @resource.color_code } %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= render partial: 'resources/download_form', locals: { resource: @resource, curriculum: nil } %>
</div>

<% if @resource.preview? %>
  <script type="text/javascript" data-turbolinks-eval="always">
    pdfUrl="<%= pdf_proxy_download_path(@resource.pdf_preview_download, s3: @resource.pdf_preview_download.download.s3_filename) %>"
  </script>
<% end %>
