<% set_page_title @resource.title %>
<% set_og_tags @resource %>

<div class="o-page o-page--margin-to-bottom">
  <div class="o-page__sticky">
    <div class="o-sticky o-sticky--left <%= 'o-sticky--disabled' unless @curriculum.previous_of_type %>">
      <a class="o-sticky__btn" href="<%= @curriculum.previous_of_type ? show_with_slug_path(@curriculum.previous_of_type.slug.value) : '#' %>">
        <div class="o-page__wrap--row">
          <div class="o-sticky__icon">
            <i class="fa-3x ub-angle-left"></i>
          </div>
          <% if  @curriculum.previous_of_type %>
            <div class="o-sticky__txt">
              <div class="o-sticky__arrow-subheader"><%= t('resources.btn.arrow', dir: 'Previous', type: type_name(@curriculum.previous_of_type)) %></div>
              <div class="o-sticky__arrow-header"><%= @curriculum.previous_of_type.resource.title %></div>
            </div>
          <% end %>
        </div>
      </a>
    </div>
  </div>
  <div class="o-page__module">
    <div class="o-page__wrap--row">
      <div class="o-page__module u-margin-bottom--gutter">
        <%= link_to back_to_curriculum_path(@curriculum), class: 'o-btn o-btn--base' do %>
          <i class="fa-lg ub-arrow-left"></i> <%= t('resources.btn.back') %>
        <% end %>
      </div>
      <div class="o-page__section cs-bg--<%= @resource.color_code(@grade_color_code) %>">
        <div class="o-content-title u-text--capitalized">
          <%
            @curriculum.self_and_ancestors.reverse.each_with_index do |ancestor, idx|
              is_last = ancestor.id == @curriculum.id
              piece = is_last ?
                @curriculum.resource.short_title :
                ancestor.breadcrumb_piece
          %>
            <% if idx == 0 %>
              <%= piece %>
            <% else %>
              <%= link_to piece, show_with_slug_path(ancestor.slug.value) %>
            <% end %>
            <%= ' / ' if !is_last %>
          <% end %>
        </div>
      </div>
      <div class="o-page__section u-padding-top--gutter u-bg--light">
        <div class="o-resource-title">
          <div class="o-resource-title__title">
            <div class="o-title u-text--uppercase">
              <span class="o-title__type cs-txt--<%= @resource.color_code(@grade_color_code) %>"><%= @resource.short_title %></span>
              <span class="o-title__duration"><%= react_component('TimeToTeach', {duration: @resource.time_to_teach}, prerender: true) %></span>
            </div>
            <h1><%= @resource.title %></h1>
            <div class="u-txt--teaser o-social-sharing__teaser">
              <%= @resource.teaser %>
            </div>
          </div>
          <div class="o-resource-title__links">
            <div>
              <!--button class="o-ub-btn" data-open="downloads-modal"><%= t('resources.btn.download', title: @curriculum.type_name) %></button-->
              <a class="o-ub-btn o-ub-btn--yellow" href="#resource-downloads-list"><%= t('resources.btn.download', title: @curriculum.type_name) %></a>
            </div>
            <div>
              <%= link_to t('resources.btn.related'), '#related-instruction', class: 'o-ub-btn o-ub-btn--2bordered-gray' %>
            </div>
          </div>
        </div>
        <hr class="o-resource-hr">
        <div class="o-resource-summary u-padding-bottom--gutter">
          <div class="o-resource-summary__map">
            <div class="o-resource-summary__title">
              <strong><%= @curriculum.subject_and_grade_title %> Curriculum Map</strong>
            </div>
            <%= render partial: 'resources/curriculum_map', locals: { resource: @resource, curriculum: @curriculum, color_code: @resource.color_code(@grade_color_code) } %>
            <%= render partial: 'shared/social_sharing', locals: { resource: @resource, cl: 'u-margin-top--gutter' } %>
          </div>
          <div class="o-resource-summary__content">
            <div class="o-resource__item o-resource__item--description">
              <h3>Description</h3>
              <%= @resource.description.try(:html_safe) %>
            </div>
            <div id="resource-downloads-list" class="o-resource__item">
              <h3>Downloads</h3>
              <ul class="o-resource__list o-resource__list--icons o-resource__list--<%= @resource.color_code %>">
                <% @resource.downloads.each do |download| %>
                  <%= render partial: 'resources/download', locals: { download: download, curriculum: @curriculum } %>
                <% end %>
                <% if @resource.downloads.empty? %>
                  <span>There are no downloads for this resource</span>
                <% end %>
              </ul>
            </div>
            <% unless @resource.requirements.empty? %>
            <div class="o-resource__item">
              <h3>Prerequisites</h3>
              <ul class="o-resource__list o-resource__list--icons o-resource__list--<%= @resource.color_code %>">
              <% @resource.requirements.each do |req| %>
                <li>
                  <i class="fa fa-square"></i>
                  <span><a href="<%= show_resource_path req %>"><%= req.title %></a></span>
                </li>
              <% end %>
              </ul>
            </div>
            <% end %>
            <div class="o-resource__item">
              <h3>Tags</h3>
              <%= render partial: 'resources/tags', locals: { tags: tag_cloud(@curriculum), color_code: @resource.color_code } %>
            </div>
            <% if @resource.engageny_url %>
            <div class="o-resource__item  o-resource__item--credits">
              <h3>Credits</h3>
              <%= render partial: 'resources/engageny', locals: { resource: @resource, color_code: @resource.color_code(@grade_color_code) } %>
            </div>
            <% end %>
          </div>
        </div>
        <% if !@curriculum.lesson? %>
          <div class="o-resource-summary--2x u-pd-content--xlarge cs-tint-bg--<%= @resource.color_code(@grade_color_code) %>">
            <div class="o-resource-summary__map o-resource-summary__map--2x"></div>
            <div class="o-resource-summary__content--2x">
              <%= render partial: 'resources/children_list', locals: { curriculum: @curriculum, color_code: @resource.color_code } %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="o-page__sticky">
    <div class="o-sticky o-sticky--right <%= 'o-sticky--disabled' unless @curriculum.next_of_type %>">
      <a class="o-sticky__btn" href="<%= @curriculum.next_of_type ? show_with_slug_path(@curriculum.next_of_type.slug.value) : '#' %>">
        <div class="o-page__wrap--row">
          <% if  @curriculum.next_of_type %>
            <div class="o-sticky__txt">
              <div class="o-sticky__arrow-subheader"><%= t('resources.btn.arrow', dir: 'Next', type: type_name(@curriculum.next_of_type)) %></div>
              <div class="o-sticky__arrow-header"><%= @curriculum.next_of_type.resource.title %></div>
            </div>
          <% end %>
          <div class="o-sticky__icon">
            <i class="fa-3x ub-angle-right"></i>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<div id="related-instruction" class="u-bg--light">
  <div class="o-page">
     <%= react_component('RelatedInstruction',
                        { id: @resource.id,
                          resource_type: @curriculum.curriculum_type.name,
                          has_more: @has_more,
                          instructions: @instructions },
                          prerender: true) %>
  </div>
</div>
