<% set_page_title @resource.page_title(@grade_color_code) %>
<% set_social_media_sharing @resource %>

<% if (slug = @curriculum.slug) %>
  <% set_canonical_url show_with_slug_path(slug.value) %>
<% end %>

<div class="o-page o-page--margin-to-bottom o-page--resource">
  <div class="o-page__sticky">
    <div class="o-sticky o-sticky--left <%= 'o-sticky--disabled' unless @curriculum.previous_of_type %>">
      <a class="o-sticky__btn o-sticky--left__btn" href="<%= @curriculum.previous_of_type ? show_with_slug_path(@curriculum.previous_of_type.slug.value) : '#' %>">
        <div class="o-page__wrap--row o-sticky__wrap o-sticky__wrap--left">
          <div class="o-sticky__icon <%= 'u-link--disabled' unless @curriculum.previous_of_type %>">
            <i class="fa-3x ub-angle-left"></i>
          </div>
          <% if @curriculum.previous_of_type %>
            <div class="o-sticky__txt hide-for-small-only">
              <div class="o-sticky__arrow-subheader"><%= t('resources.btn.arrow', dir: 'Previous', type: type_name(@curriculum.previous_of_type)) %></div>
              <div class="o-sticky__arrow-header"><%= @curriculum.previous_of_type.resource.title %></div>
            </div>
          <% end %>
          <div class="o-sticky__txt show-for-small-only <%= 'u-link--disabled' unless @curriculum.previous_of_type %>">
            <div class="o-sticky__arrow-subheader"><%= t('resources.btn.arrow-small', dir: 'Previous', type:  @curriculum.current_level.capitalize) %></div>
            <div class="o-sticky__arrow-header"><%= t('resources.btn.arrow-txt-small') %></div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="o-page__module">
    <div class="o-page__wrap--row">
      <div class="o-page__module u-margin-bottom--gutter">
        <%= link_to back_to_curriculum_path(@curriculum), class: 'o-btn o-btn--base o-btn--xs-full' do %>
          <i class="fa-lg ub-arrow-left u-text--middled"></i> <%= t('resources.btn.back') %>
        <% end %>
        <% if user_signed_in? %>
          <%= link_to edit_admin_resource_path(@resource), class: 'o-btn o-btn--base', target: '_blank' do %>
            <%= t('ui.edit') %>
          <% end %>
        <% end %>
      </div>
      <%= render partial: 'resources/header', locals: { curriculum: @curriculum,
                                                             resource: @resource,
                                                             color_code: @resource.color_code(@grade_color_code) } %>


      <div class="o-page__section u-padding-top--gutter u-bg--light u-br-top-right--base u-br-bottom--base">
        <% if @curriculum.lesson? %>
          <div class="o-tab c-easytabs">
            <ul class='o-tab-menu'>
              <li class='o-tab-menu__item'><a href="#details">Curriculum Info</a></li>
              <li class='o-tab-menu__item'><a href="#lesson">Lesson</a></li>
            </ul>
            <div id="details" class="o-tab__panel">
              <%= render partial: 'resources/content', locals: { curriculum: @curriculum, resource: @resource } %>
            </div>
            <div id="lesson" class="o-tab__panel">
              <% if @resource.lesson_document  %>
                <%= render partial: 'lesson_documents/content', locals: {lesson_document: @resource.lesson_document} %>
              <% else %>
                <h2 class='text-center'>No Lesson Document is available for this Resource yet</h2>
              <% end %>
            </div>
          </div>
        <% else %>
          <%= render partial: 'resources/content', locals: { curriculum: @curriculum, resource: @resource } %>
        <% end %>
      </div>
    </div>
    <%= render partial: 'resources/download_form', locals: { resource: @resource, curriculum: @curriculum } %>
  </div>
  <div class="o-page__sticky">
    <div class="o-sticky o-sticky--right <%= 'o-sticky--disabled' unless @curriculum.next_of_type %>">
      <a class="o-sticky__btn o-sticky--right__btn" href="<%= @curriculum.next_of_type ? show_with_slug_path(@curriculum.next_of_type.slug.value) : '#' %>">
        <div class="o-page__wrap--row o-sticky__wrap o-sticky__wrap--right">
          <% if  @curriculum.next_of_type %>
            <div class="o-sticky__txt hide-for-small-only">
              <div class="o-sticky__arrow-subheader"><%= t('resources.btn.arrow', dir: 'Next', type: type_name(@curriculum.next_of_type)) %></div>
              <div class="o-sticky__arrow-header"><%= @curriculum.next_of_type.resource.title %></div>
            </div>
          <% end %>
          <div class="o-sticky__txt show-for-small-only <%= 'u-link--disabled' unless @curriculum.next_of_type %>">
            <div class="o-sticky__arrow-subheader"><%= t('resources.btn.arrow-small', dir: 'Next', type: @curriculum.current_level.capitalize) %></div>
            <div class="o-sticky__arrow-header"><%= t('resources.btn.arrow-txt-small') %></div>
          </div>
          <div class="o-sticky__icon <%= 'u-link--disabled' unless @curriculum.next_of_type %>">
            <i class="fa-3x ub-angle-right"></i>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<div id="related-instruction" class="u-bg--light">
  <div class="o-page">
     <%= react_component('RelatedInstruction',
                        { id: @resource.id,
                          resource_type: @curriculum.curriculum_type.name,
                          has_more: @has_more,
                          instructions: @instructions },
                          prerender: true) %>
  </div>
</div>
