<div class="o-page o-page--margin-to-bottom">
  <div class="o-page__sticky">
    <div class="o-sticky o-sticky--left <%= 'o-sticky--disabled' unless @curriculum.previous_of_type %>">
      <a class="o-sticky__btn" href="<%= @curriculum.previous_of_type ? show_with_slug_path(@curriculum.previous_of_type.slug.value) : '#' %>">
        <div class="o-page__wrap--row">
          <div class="o-sticky__icon">
            <i class="fa-2x ub-angle-left"></i>
          </div>
          <% if  @curriculum.previous_of_type %>
            <div class="o-sticky__txt">
              <small><%= t('resources.btn.arrow', dir: 'Previous', type: type_name(@curriculum.previous_of_type)) %></small></br>
              <strong><%= @curriculum.previous_of_type.resource.title %></strong>
            </div>
          <% end %>
        </div>
      </a>
    </div>
  </div>
  <div class="o-page__module">
    <div class="o-page__wrap--row">
      <div class="o-page__module">
        <%= link_to back_to_curriculum_path(@curriculum), class: 'o-ub-btn o-ub-btn--base' do %>
          <i class="fa-lg ub-arrow-left"></i> <%= t('resources.btn.back') %>
        <% end %>
      </div>
      <div class="o-page__section cs-bg--<%= color_code(@resource, @grade_color_code) %>">
        <div class="o-content-title">
          <%
            @curriculum.self_and_ancestors.reverse.each_with_index do |ancestor|
              is_last = ancestor.id == @curriculum.id
              piece = is_last ?
                @curriculum.resource.short_title :
                ancestor.breadcrumb_piece
          %>
            <%= link_to piece, show_with_slug_path(ancestor.slug.value) %>
            <%= ' / ' if !is_last %>
          <% end %>
        </div>
      </div>
      <div class="o-page__section u-padding-top--large u-bg--light">
        <div class="o-resource-title">
          <div class="o-resource-title__title">
            <div class="o-title">
              <span class="o-title__type cs-txt--<%= color_code(@resource, @grade_color_code) %>"><%= @resource.short_title %></span>
              <span class="o-title__duration"><%= react_component('TimeToTeach', {duration: @resource.time_to_teach}, prerender: true) %></span>
            </div>
            <h2><%= @resource.title %></h2>
            <div class="u-text--large">
              <%= @resource.teaser %>
            </div>
          </div>
          <div class="o-resource-title__links">
            <div>
              <!--button class="o-ub-btn" data-open="downloads-modal"><%= t('resources.btn.download', title: @curriculum.type_name) %></button-->
              <a class="o-ub-btn" href="#resource-downloads-list"><%= t('resources.btn.download', title: @curriculum.type_name) %></a>
            </div>
            <div>
              <%= link_to t('resources.btn.related'), '#related-instruction', class: 'o-ub-btn o-ub-btn--bordered' %>
            </div>
          </div>
        </div>
        <div class="o-resource-summary u-pd-content">
          <div class="o-resource-summary__map">
            <strong>Curriculum Map</strong> &ndash; <span class="u-text--capitalized"><%= @curriculum.subject_and_grade_title %></span>
            <%= render partial: 'resources/curriculum_map', locals: { resource: @resource, curriculum: @curriculum, color_code: color_code(@resource, @grade_color_code) } %>
          </div>
          <div class="o-resource-summary__content">
            <div class="o-resource__item o-resource__item--description">
              <h3>Description</h3>
              <%= @resource.description.try(:html_safe) %>
            </div>
            <div id="resource-downloads-list" class="o-resource__item">
              <h3>Downloads</h3>
              <ul class="o-resource__list o-resource__list--icons o-resource__list--<%= color_code(@resource) %>">
                <% @resource.downloads.each do |download| %>
                  <%= render partial: 'resources/download', locals: { download: download } %>
                <% end %>
              </ul>
            </div>
            <% unless @resource.requirements.empty? %>
            <div class="o-resource__item">
              <h3>Prerequisites</h3>
              <ul class="o-resource__list o-resource__list--icons o-resource__list--<%= color_code(@resource) %>">
              <% @resource.requirements.each do |req| %>
                <li>
                  <i class="fa fa-square"></i>
                  <span><a href="<%= show_resource_path req %>"><%= req.title %></a></span>
                </li>
              <% end %>
              </ul>
            </div>
            <% end %>
            <div class="o-resource__item">
              <h3>Tags</h3>
              <div><%= @resource.tags %></div>
            </div>
            <% if @resource.engageny_url %>
            <div class="o-resource__item">
              <h3>Credits</h3>
              <%= render partial: 'resources/engageny', locals: { resource: @resource } %>
            </div>
            <% end %>
          </div>
        </div>
        <% if !@curriculum.lesson? %>
          <div class="o-resource-summary u-pd-content u-bg--tooltip">
            <div class="o-resource-summary__map"></div>
            <div class="o-resource-summary__content">
              <%= render partial: 'resources/children_list', locals: { curriculum: @curriculum } %>
            </div>
          </div>
        <% end %>
      </div>

      <%= react_component('RelatedInstruction', {resource: @resource, resource_type: @curriculum.curriculum_type.name}, prerender: true) %>

      <%= render partial: 'resources/download_form', locals: { downloads: @resource.downloads, title: @curriculum.type_name } %>
    </div>
  </div>
  <div class="o-page__sticky">
    <div class="o-sticky o-sticky--right <%= 'o-sticky--disabled' unless @curriculum.next_of_type %>">
      <a class="o-sticky__btn" href="<%= @curriculum.next_of_type ? show_with_slug_path(@curriculum.next_of_type.slug.value) : '#' %>">
        <div class="o-page__wrap--row">
          <% if  @curriculum.next_of_type %>
            <div class="o-sticky__txt">
              <small><%= t('resources.btn.arrow', dir: 'Next', type: type_name(@curriculum.next_of_type)) %></small></br>
              <strong><%= @curriculum.next_of_type.resource.title %></strong>
            </div>
          <% end %>
          <div class="o-sticky__icon">
            <i class="fa-2x ub-angle-right"></i>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
