<% set_page_title @resource.title %>

<div class="lesson-page" data-role="page">
  <div class="container">
    <% if current_user.try(:admin?) %>
      <div class="row">
        <div class=clearfix>
          <div class=pull-right>
            <%= link_to t('ui.edit'), edit_admin_resource_path(@resource), class: 'btn btn-default', 'data-no-turbolink' => '' %>
            <%= button_to t('ui.delete'), admin_resource_path(@resource), class: 'btn btn-danger', data: { confirm: t('ui.are_you_sure') }, form_class: 'inline', method: :delete %>
          </div>
        </div>
      </div>
      <br>
    <% end %>
    <div class="row">
      <% if curriculum = @curriculum || @resource.unbounded_curriculum %>
        <div class="sidebar sidebar-<%= @resource.curriculum_subject %> <%= @resource.curriculum_subject %> left-sidebar hidden-xs ">
          <div class="row">
            <%= render partial: 'nav', locals: { curriculum: curriculum } %>
          </div>
        </div>
        <div class="resource-content lesson-content-<%= @resource.curriculum_subject %> <%= @resource.curriculum_subject %>">
          <div class="row">
            <div class="lesson-content-content">
              <div class="row">
                <div class="lesson-img"></div>
                <%= render partial: 'resource_content', locals: {resource: @resource, show_dsc: true, curriculum: curriculum} %>
              </div>
              <% if curriculum.lesson? %>
                <div class="row unit-lesson-content">
                  <div class="unit-dsc">
                    <div class="row">
                      <div class="unit-content-title">
                        <h4 class="unit-content-title-title">
                          <%= lesson_unit_title(curriculum) %>
                        </h4>
                        <h5 class="unit-content-title-subtitle">
                          <%= lesson_unit_subtitle(@resource) %>
                        </h5>
                      </div>
                      <div class="unit-content-control" data-toggle="collapse" data-target="#unit-content" aria-expanded="false">
                        <div class="pull-right">
                          <span class="hidden-xs show-ctrl"><%= t('ui.show_more').upcase %></span>
                          <span class="hidden-xs hide-ctrl"><%= t('ui.show_less').upcase %></span>
                          <i class="ub-icon-unit-content unit-content-icon"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="unit-materials collapse in" aria-expanded="true" id="unit-content">
                    <div class="row">
                      <%= render partial: 'resource_content', locals: {resource: curriculum.current_unit, show_dsc: false} %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="lesson-content-engageny">
              <%= render partial: 'engageny', locals: { resource: @resource } %>
            </div>
          </div>
        </div>
        <div class="sidebar sidebar-<%= @resource.curriculum_subject %> <%= @resource.curriculum_subject %> visible-xs-block">
          <div class="row">
            <%= render partial: 'nav', locals: { curriculum: curriculum } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

