<div class=nc-content>
  <div class=clearfix>
    <div class=pull-right>
      <%= link_to t('.new_user'), :new_unbounded_admin_user, class: 'btn btn-success', 'data-no-turbolink' => '' %>
    </div>
  </div>

  <h2 class=text-center><%= t('.page_title') %></h2>

  <p class=text-right><%= page_entries_info @users %>

  <div class=row>
    <div class="col-md-12">
      <table class=table>
        <tr>
          <th><%= t('.name') %>
          <th><%= t('.email') %>
          <th><%= t('ui.actions') %></th>
        </tr>

        <% @users.each do |user| %>
          <tr id="user_<%= user.id %>">
            <td><%= link_to user.name, edit_unbounded_admin_user_path(user) %>
            <td><%= user.email %>
            <td><%= button_to t('.reset_password_btn'), reset_password_unbounded_admin_user_path(user), class: 'btn', data: { confirm: t('ui.are_you_sure') }, form_class: 'inline', method: :post %> <%= button_to t('ui.delete'), unbounded_admin_user_path(user), class: 'btn btn-danger', data: { confirm: t('ui.are_you_sure') }, form_class: 'inline', method: :delete %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class=row>
    <div class='col-sm-12 text-center'>
      <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>
