<% if @results.present? %>
  <p>
    ✓ <%= @results.select {|r| r.ok }.count %> File(s) Imported
    <br>
    x <%= @results.reject {|r| r.ok }.count %> File(s) Failed
  </p>
  <ul class="o-adm-materials__results">
  <% @results.each do |res| %>
    <li class="o-adm-materials__result o-adm-materials__result--<%= res.ok ? 'ok' : 'err'%>">
    <%= link_to res.link, res.link, target: '_blank', class: 'o-adm-materials__link' %>
    <% unless res.ok %>
      <p><%= res.errors.first&.html_safe %></p>
    <% end %>
    </li>
  <% end %>
  </ul>
<% end %>
