<div class=o-page>
  <div class=clearfix>
    <div class=pull-right>
      <%= link_to t('ui.import_subtitles'), :new_admin_subtitles_import, class: 'btn btn-success' %>
    </div>
  </div>

  <h2 class=text-center><%= t('.page_title', count: @resources.count) %></h2>

  <% if @resources.any? %>
    <p class='results-count text-center'><%= t('.results_count', count: @resources.count)%>

    <table class=table>
      <tr>
        <th>ID
        <th><%= Resource.human_attribute_name :title %>
        <th><%= Resource.human_attribute_name :subtitle %>
        <th><%= Resource.human_attribute_name :description %>
      </tr>

      <% @resources.each do |resource| %>
        <tr class=resource id=resource_<%= resource.id %>>
          <td class=id><%= resource.id %>
          <td class=title><%= resource.title %>
          <td class=subtitle><%= resource.subtitle %>
          <td class=description><%= resource.description.try(:html_safe) %>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p class=text-center><em><%= t('.no_results') %></em>
  <% end %>

</div>
