<%= simple_form_for [:admin, @user], html: { id: 'user_form' } do |f| %>
  <%= f.input :id, disabled: true %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :role, collection: User.roles.keys, include_blank: false %>
  <%= f.input :access_code, disabled: @user.persisted? %>
  <%= f.input :confirmed_at, disabled: true, as: :text %>

  <div class="u-margin-bottom--base">
    <%= f.label :survey %>
    <% if @user.survey %>
      <dl>
       <% SurveyForm.new.attributes.keys.map(&:to_s).each do |key| %>
         <dt class="u-text--small"><%= t("survey.#{key}") %></dt>
         <dd class="u-margin-bottom--small"><%= @user.survey[key] %></dd>
       <% end %>
     </code>
    <% else %>
      <code>not answered</code>
    <% end %>
  </div>

  <%= f.button :submit, t('ui.save'), name: nil %>
<% end %>
