<div class=nc-content>
  <ul class='list-inline well'>
    <li><%= link_to t('.collection_types'), :unbounded_admin_collection_types, class: 'btn btn-primary' %>
    <li><%= link_to t('.collections'), :unbounded_admin_collections, class: 'btn btn-primary' %>
    <li><%= link_to t('.pages'), :unbounded_admin_pages, class: 'btn btn-primary' %>
    <li><%= link_to t('.resources'), :unbounded_admin_lobjects, class: 'btn btn-primary' %>
    <li><%= link_to t('.staff_members'), :unbounded_admin_staff_members, class: 'btn btn-primary' %>
    <li><%= link_to t('.users'), :unbounded_admin_users, class: 'btn btn-primary' %>
  </div>
</div>
