<body class="c-pdf-header__wrap" onload="subst()">
  <div class="c-pdf-header--<%= content_guide.subject %>">
    <div class="c-pdf-header">
      <div class="c-pdf-header__img" style='background-image: <%= cover_image_url %>'></div>
      <div class="c-pdf-header__content">
        <div class="c-pdf-header__title">
          <div class="c-pdf-title cs-txt--<%= content_guide.subject %>-base">
            <%= content_guide.header_title %>
          </div>
          <h1><%= content_guide.title %></h1>
          <h2><%= content_guide.teaser %></h2>
          <div class="c-pdf-timestamp">
            Generated on <%= Time.now.strftime("%B %d,%Y") %>
          </div>
        </div>
        <div class="c-pdf-header__logo">
          <span class="c-pdf-logo--u">Unbound</span><span class="c-pdf-logo--ed">Ed</span>
        </div>
      </div>
    </div>
  </div>
</body>
