<div id="cg-sidebar-container" class="o-sidebar" data-sticky-container>
  <nav id="cg-sidebar" class="o-sidebar__wrap sticky">
    <div id="cg-sidebar-xs" class="o-sidebar-xs hide-for-ipad cs-bg--<%= cg.subject %>-base">
      <div class="o-sidebar-xs__header">
        <div class="u-txt--cg-sidebar-title-type u-text--uppercase">
          <%= cg.sticky_title %>
        </div>
        <div class="u-txt--cg-sidebar-title">
          <%= cg.title %>
        </div>
      </div>
      <div id="cg-sidebar-xs__action" class="o-sidebar-xs__action">
        <a><i class="ub-ellipsis fa-3x"></i></a>
      </div>
    </div>
    <div class="o-sidebar-nav__sticky-title cs-bg--<%= cg.color_code(cg.grade_avg) %>">
      <%= simple_format @content_guide.title %>
    </div>
    <ul class="o-sidebar-nav o-sidebar-nav__menu show-for-ipad">
      <li class=o-sidebar-nav__header><span><%= t('ui.contents') %></span></li>
      <li><div class=o-sidebar-nav__sep></div></li>
      <% cg.headings.each do |heading| %>
        <%= render 'nav_item', heading: heading %>
      <% end %>
    </ul>
  </nav>
</div>

<%= render partial: 'nav_modal', locals: { cg: cg } %>
