<% set_page_title @content_guide.title %>

<% cache @content_guide do %>
  <div class="o-page o-page--margin-to-bottom o-page--cg">
    <div class="o-page__module">
      <%= link_to :enhance_instruction_index, class: 'o-ub-btn o-ub-btn--base' do %>
        <i class="fa-lg ub-arrow-left"></i> <%= t('content_guide_page.back_to_hub') %>
      <% end %>
    </div>
    <div class="o-page__module c-ch-hero">
      <div class="o-page__wrap--row">
        <div class=c-cg-hero__img style="background-image: url('<%= @content_guide.small_photo.url %>')">
          <div class=content>
          </div>
        </div>
        <div class="c-cg-hero__body">
          <div class=c-cg-teaser><%= @content_guide.teaser %></div>
          <h1 class=c-cg-title><%= @content_guide.title %></h1>
        </div>
      </div>
    </div>
    <div class="o-page__module u-bg--light c-ch-content">
      <div class="o-page__wrap--row">
        <div class="c-ch-content__sidebar">
          <%= render partial: 'nav', locals: { headings: @content_guide.headings } %>
        </div>
        <div id="c-ch-content" class="c-ch-content__body">
          <% if @content_guide.broken_images.any? %>
            <div class='callout warning'>
              <p><%= t('.broken_images') %>
            </div>
          <% end %>
          <%= @content_guide.html %>
        </div>
      </div>
    </div>
  </div>
<% end %>

