<% set_page_title @content_guide.name %>

<div class=container>
  <div class=row>
    <div class='page-body contengGuide'>
      <div class=col-sm-4>
        <div class=contengGuide__nav>
          <h4><%= t('.contents') %></h4>
          <nav class=list-unstyled>
            <% @content_guide.headings.each do |heading| %>
              <li class='contengGuide__nav__item level<%= heading.level %>'><%= link_to heading.text, "##{heading.id}" %>
            <% end %>
          </nav>
        </div>
      </div>

      <div class=col-sm-8>
        <p class=text-right>
          <%= link_to t('.download_as_pdf'), url_for(format: 'pdf'), class: 'btn btn-success' %>
        </p>
        <%= @content_guide.html %>
      </div>
    </div>
  </div>
</div>
