<% set_page_title @page.title %>

<div class=container>
  <div class=row>
    <div class=page-body>
    	<h1><%= @page.title %></h1>
    	<%= @page.body.html_safe %>

      <hr>
      <% if (members = StaffMember.all).any? %>
        <h2><%= t('.staff_members') %></h2>

        <ul class=aboutPage__members>
          <% members.each do |member| %>
            <% member_id = "member_#{member.id}"%>
            <li class=aboutPage__member>
              <input class=aboutPage__member__toggle id=<%= member_id %> name=member-toggle type=radio>
              <%= label_tag member_id, class: 'aboutPage__member__label' do %>
                <h3 class=aboutPage__member__name><%= member.name %></h3>
                <div class=aboutPage__member__position><%= member.position %></div>
              <% end %>
              <div class=aboutPage__member__bio><%= member[:bio] %></div>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
