<div class="header-module">
  <div class="container">
    <div class="row">
      <div class="search-form">
        <form class="curriculum-search-form form-horizontal" action="" method="POST">
          <div class="form-group">
            <div class="ub-group">
              <label for="">1. <%= t('curriculum_page.search_form.subject_label') %></label>
              <div class="ub-radio curriculum-subject-selection">
                <% dropdown_options.subject_options.each do |opt| %>
                  <div class="radio">
                    <input type="radio"
                      name="dropdown_options[subject]"
                      value="<%= opt.value %>"
                      <% if opt.checked %> checked <% end %>
                      id="subject-<%= opt.value %>">
                    <label for="subject-<%= opt.value %>"><%= opt.title %></label>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="ub-group">
              <label for="">2. <%= t('curriculum_page.search_form.grade_label') %></label>
              <div class="form-group curriculum-grade-selection">
                <% dropdown_options.grade_options.each_slice(2).each do |grade_group| %>
                  <div class="col-md-6">
                    <div class="ub-radio">
                      <% grade_group.each do |opt| %>
                        <div class="radio">
                          <input type="radio"
                            name="dropdown_options[grade_id]"
                            data-grade="<%= opt.grade %>"
                            value="<%= opt.value %>"
                            <% if opt.checked %> checked <% end %>
                            id="grade-<%= opt.value %>">
                          <label for="grade-<%= opt.value %>"><%= opt.title %></label>
                        </div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="ub-group">
              <label for="">3. <%= t('curriculum_page.search_form.standard_label') %></label>
              <div class="ub-select">
                <%= select('dropdown_options', 'standards', dropdown_options.standard_options, { include_blank: true, selected: dropdown_options.standard_ids }, { class: 'curriculum-filter curriculum-filter-standard selectize form-control', multiple: true}) %>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
