<div class="module <%= klass %>">
  <div class="module-wrapper">
    <div class="row">
      <div class="module-title">
        <div class="row">
          <div class="module-title-title">
            <%= link_to(module_node_title(mod), unbounded_resource_path(mod.content)) %>
          </div>
          <div class="module-title-dsc">
            <%= link_to(unbounded_resource_path(mod.content)) do %>
              <%= truncate_html(mod.content.description.html_safe, length: klass.include?('12') ? 240 : 100) if mod.content.description.present? %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="curriculum-map curriculum-map-units">
        <% mod.children.each do |unit| %>
          <%= render partial: 'unit', object: unit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
