<div class=nc-content>
  <h2 class=text-center><%= t('.page_title') %></h2>

  <h3><%= t('.import') %></h3>

  <div class="alert alert-info">
    <h4>Notes on importing CSVs</h4>
    <ul>
      <li>The CSV file must have the following headers: id, url, publisher, title, description, grade, resource_type, standard, subject.</li>
      <li>The value for a field may be empty, but the header must still exist.</li>
      <li>If the "replace" option is checked, duplicate resources get overwritten with the new values.</li>
      <li>Otherwise, duplicate resources are skipped.</li>
    </ul>
  </div>

  <%= simple_form_for @csv_import, url: :lt_admin_csv_imports do |f| %>
    <div class=form-group>
      <%= f.input :replace, as: :boolean %>
      <%= f.input :file, as: :file %>
      <%= f.button :submit, t('.import'), name: nil %>
    </div>
  <% end %>

  <hr>

  <h3><%= t('.export') %></h3>
  <% if @export_in_progress %>
    <div class="alert alert-info">
      There's a CSV export in progress. Please check back later to see if it's finished.
    </div>
  <% else %>
    <p><%= link_to t('.download_csv'), :lt_admin_csv_export, target: '_blank' %></p>
    <p><%= link_to t('.export_csv'), :lt_admin_create_csv_export, class: 'btn btn-default', method: :post %></p>
  <% end %>
</div>
