<!doctype html>
<!-- Site by Constructive & Learning Tapestry -->
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= page_title %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : t('default_title') %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= render partial: "shared/favicon" %>
    <%= javascript_include_tag 'generated/translations' %>
    <%= javascript_include_tag 'generated/routes' %>
    <script>document.querySelector('html').className = 'js';</script>
    <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track' => true %>
    <%= render partial: 'shared/google_analytics' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: 'shared/unsupported' %>
    <div class="u-page-wrap c-admin u-supported">
      <%= render partial: "admin/shared/header" %>
      <div class=o-page>
        <%= render partial: 'shared/flash' %>
        <%= yield %>
      </div>
    </div>
    <%= render partial: "shared/footer" %>

    <%= javascript_include_tag 'admin/application', 'data-turbolinks-track' => true %>
  </body>
</html>
