<!doctype html>
<!-- Site by Constructive & Learning Tapestry -->
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= page_title %></title>
    <meta name="description" content="<%= page_description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= redirect_meta_tag %>
    <%= render partial: 'shared/open_graph_meta' %>
    <%= render partial: 'shared/favicon' %>
    <script>document.querySelector('html').className = 'js';</script>
    <script>
      window._PDFJSworkerSrc = '<%= asset_url('vendor/pdf.worker.js') %>'
    </script>
    <%= stylesheet_link_tag 'main', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'i18n' %>
    <%= javascript_include_tag 'generated/translations' %>
    <%= javascript_include_tag 'generated/routes' %>
    <%= javascript_include_tag '//s7.addthis.com/js/300/addthis_widget.js#async=1' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'pdf_js_preview', 'data-turbolinks-track' => true if generic_page? %>
    <%= render partial: 'shared/google_analytics' %>
    <%= csrf_meta_tags %>
    <% if content_for?(:canonical_url) %>
      <link rel=canonical href='<%= yield(:canonical_url) %>'>
    <% end %>
  </head>
  <body>
    <%= render partial: 'shared/open_graph_meta_js' %>
    <%= render partial: 'shared/unsupported' %>
    <div class="u-page-wrap u-supported">
      <%= render partial: 'shared/header' %>
      <%= render partial: 'shared/flash' %>
      <%= yield %>
      <%= react_component('SubscriptionPopupContainer') %>
    </div>
    <%= render partial: 'shared/footer' %>
  </body>
</html>
