<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= params.key?('debug') ? stylesheet_link_tag('pdf', media: 'all') : stylesheet_link_tag(fixed_wicked_pdf_asset_base64('pdf.css')) %>
    <style type="text/css" media="all">
      .c-cg-standard--a {
        background-image: url("<%= fixed_wicked_pdf_asset_base64('st_icon_a.svg') %>");
      }
      .c-cg-standard--m {
        background-image: url("<%= fixed_wicked_pdf_asset_base64('st_icon_m.svg') %>");
      }
      .c-cg-standard--plus {
        background-image: url("<%= fixed_wicked_pdf_asset_base64('st_icon_plus.svg') %>");
      }
      .c-cg-standard--s {
        background-image: url("<%= fixed_wicked_pdf_asset_base64('st_icon_s.svg') %>");
      }
      .c-cg-icon--complexity {
        background-image: url("<%= fixed_wicked_pdf_asset_base64('cg_icon_complexity.png') %>");
      }
      .c-cg-icon--instruction {
        background-image: url("<%= fixed_wicked_pdf_asset_base64('cg_icon_instruction.png') %>");
      }
      .c-cg-icon--volume {
        background-image: url("<%= fixed_wicked_pdf_asset_base64('cg_icon_volume.png') %>");
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
